[submodule "actions"]
	path = actions
	url = git@github.com:aiegoo/test-actions
[submodule "projects.wiki"]
	path = projects.wiki
	url = git@github.com:aiegoo/projects.wiki
[submodule "gitteam"]
	path = gitteam
	url = git@github.com:aiegoo/gitteam
