[submodule "actions"]
	path = actions
	url = git@github.com:aiegoo/test-actions
[submodule "jsimpatient"]
	path = jsimpatient
	url = https://github.com/aiegoo/jsimpatient
[submodule "resources/learningjavascript/ethan-brown"]
	path = resources/learningjavascript/ethan-brown
	url = https://github.com/Li-YangZhong/learning_javascript_by_ethan_brown.git
[submodule "djangovue"]
	path = djangovue
	url = git@github.com:aiegoo/djangovue
