[submodule "actions"]
	path = actions
	url = git@github.com:aiegoo/test-actions
[submodule "jsimpatient"]
	path = jsimpatient
	url = https://github.com/aiegoo/jsimpatient
[submodule "_drones/mavlink-devguide"]
	path = _drones/mavlink-devguide
	url = git@github.com:aiegoo/mavlink-devguide
