repository: aiegoo/documentation
url: pf7.eggs.or.kr
#baseurl: /documentation #for github.io/documentation
baseurl: ""
output: web
media: https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/api
imagesurl_cats: "images/cats/"
imagesurl_yoga: "images/yoga/"
imagesurl_yoga_hatha: "images/yoga/hatha/"
imagesurl_yoga_bikram: "images/yoga/bikram/"
imagesurl_drones: "images/drones/"
imagesurl_drones_hardware: "images/drones/hardware/"
imagesurl_drones_dev: "images/drones/dev_gallery/"
imagesurl_drones_hw_gallery: "images/drones/hw_gallery/"
imagesurl_handbook: "images/drone-resource-wiki/handbook/"
imagesurl_travel: "images/travel/"
imagesurl_travelnamhae: "images/trip_namhae/"
imagesurl_trucker: "images/trucker/"
imagesurl_trucker_iveco: "images/trucker/iveco/"
# thumbsurl_yoga: "/images/yoga/thumbs/"
# this property is useful for conditional filtering of content that is separate from the PDF.
encoding: UTF-8

topnav_title: Matlab Docs
# this appears on the top navigation bar next to the home button

site_title: Tonylee Project Showcase
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

company_name: Tonyleekorea
# this appears in the footer

github_editme_path: aiegoo/documentation/blob/edit/
github_link: https://github.com/aiegoo/documentation/blob/edit/
# if you're using Github, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

# gitlab_editme_path: aiegoo/documentation/blob/gh-pages/
# if you're using GitLab, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

google_analytics: #UA-66296557-1
# if you have google-analytics ID, put it in. if not, edit this value to blank.

host: 127.0.0.1
# the preview server used. Leave as is.

port: 4000
# the port where the preview is rendered. You can leave this as is unless you have other Jekyll builds using this same port that might cause conflicts. in that case, use another port such as 4006.

exclude:
  - .idea/
  - .gitignore
  - vendor
# these are the files and directories that jekyll will exclude from the build
include:
 - _mycourse
 - _wiki
 - _yoga
 - _drones
 - _tags
# to enable series site.page
feedback_subject_line: You are my best candidate!

feedback_email: onofftony@gmail.com
# used as a contact email for the Feedback link in the top navigation bar

# feedback_disable: true
# if you uncomment the previous line, the Feedback link gets removed

feedback_text: "Cheer Me"
# if you uncomment the previous line, it changes the Feedback text

#feedback_link: "https://aiegoo.github.io/documentation/yoga"
# if you uncomment the previous line, it changes where the feedback link points to

highlighter: rouge
# library used for syntax highlighting

markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
hard_wrap: false
syntax_highlighter: rouge
syntax_highlighter_opts:
  css_class: 'highlight'
  span:
    line_numbers: false
  block:
    line_numbers: true
# parse_block_html: true

# filter used to process markdown. note that kramdown differs from github-flavored markdown in some subtle ways

collections:
  tooltips:
    output: false
  freelancers:
    output: true
    people: true
    permalink: /freelancers/
  drones:
    output: true
    people: true
    permalink: /drones/
  yoga:
    output: true
    people: true
    permalink: /yoga/
    order:
      - yoga_overview.md
      - hathaoverview.md
      - bikramoverview.md
      - aerialoverview.md
      - hatha.md
      - aerial.md
      - vinyasaflow.md
      - anatomy_vinyasa.md
      - bikram.md
      - ashtanga.md
  mycourse:
    output: true
    people: true
    permalink: /mycourse/
    order:
      - stm32.md
      - gcs.md
      - java.md
      - control.md
      - operation.md
      - api.md
      - cplus.md
      - python.md
      - tensorflow.md
      - frontend.md
      - lora.md
      - git.md
  # tags:
  #   output: false
  #   permalink: /tags/
  wiki:
    output: true
    permalink: /wiki/:title
  category:
    output: true
    permalink: /category/:title
  genai:
    output: true
    permalink: /genai/:title



# collections are declared here. this renders the content in _tooltips and processes it, but doesn't output it as actual files in the output unless you change output to true

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      comments: false
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: home_sidebar
      topnav: topnav
  -
    scope:
      path: ""
      type: "tooltips"
    values:
      layout: "page"
      search: true
      tooltip: true

  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: false
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: home_sidebar
      topnav: topnav

  # _freelancers
  - scope:
      path: "/freelancers/"
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true

  # _drones
  - scope:
      path: "/drones/"
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true
      show_excerpts: true
      sort_by: categories

  # _yoga
  - scope:
      path: "/yoga/"
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true
      comments: false
      sidebar: other_sidebar
      topnav: topnav
      toc: true
      show_excerpts: true

  # _mycourse
  - scope:
      path: "/mycourse/"
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
      sidebar: other_sidebar
      topnav: topnav
      toc: true
      show_excerpts: true
  # tagsyou 
  # -
  #   scope:
  #     path: "/tags/"
  #     type: "tags"
  #   values:
  #     layout: "page"
  #     search: true
  #     tooltip: true
  # wiki
  -
    scope:
      path: "/wiki/"
      type: posts
    values:
      layout: "page"
      search: true
      tooltip: true

paginate: 10
paginator_path: "/wiki"
paginate_path: "/wiki/page:num/"
# these are defaults used for the frontmatter for these file types


sidebars:
- home_sidebar
- mydoc_sidebar
- product1_sidebar
- product2_sidebar
- other_sidebar

description: "This documentation site is intended to keep my past and current project details clearly in view for all visitors. Please howl at me to give you access and see the source wiki of this documentation, aiegoo/portfolio/wiki, where more sensitive contents are maintained. Hooray AI and AiIot gurus!"
# the description is used in the feed.xml file

# needed for sitemap.xml file only
# url: http://idratherbewriting.com
# baseurl: /documentation-theme-jekyll

# leio reading time implementation
reading_time:       true
words_per_minute:   120

author:
  facebook: aiegoo
facebook:
  app_id: 839268703254603
  publisher: 1234
  admins: 1234

github: [metadata]

plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-spaceship
  - jemoji
  - jekyll-babel]
  - jekyll-sitemap


# Where things are
jekyll-spaceship:
  # default enabled processors
  processors:
    - table-processor
    - mathjax-processor
    - plantuml-processor
    - mermaid-processor
    - polyfill-processor
    - media-processor
    - emoji-processor
    - element-processor
  mathjax-processor:
    src:
      - https://polyfill.io/v3/polyfill.min.js?features=es6
      - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    config:
      tex:
        inlineMath:
          - ['$','$']
          - ['\(','\)']
        displayMath:
          - ['$$','$$']
          - ['\[','\]']
      svg:
        fontCache: 'global'
    optimize: # optimization on building stage to check and add mathjax scripts
      enabled: true # value `false` for adding to all pages
      include: []   # include patterns for math expressions checking (regexp)
      exclude: []   # exclude patterns for math expressions checking (regexp)
  plantuml-processor:
    mode: default  # mode value 'pre-fetch' for fetching image at building stage
    css:
      class: plantuml
    syntax:
      code: 'plantuml!'
      custom: ['@startuml', '@enduml']
    src: http://www.plantuml.com/plantuml/svg/
  mermaid-processor:
    mode: default  # mode value 'pre-fetch' for fetching image at building stage
    css:
      class: mermaid
    syntax:
      code: 'mermaid!'
      custom: ['@startmermaid', '@endmermaid']
    config:
      theme: default
    src: https://mermaid.ink/svg/
  media-processor:
    default:
      id: 'media-{id}'
      class: 'media'
      width: '100%'
      height: 350
      frameborder: 0
      style: 'max-width: 600px; outline: none;'
      allow: 'encrypted-media; picture-in-picture'
  emoji-processor:
    css:
      class: emoji
    src: https://github.githubassets.com/images/icons/emoji/

# facebook comments
comments:
    provider : "facebook"
    facebook:
        appid : 839268703254603
        num_posts : 5 # 5 (default)
        colorscheme : light # "light" (default), "dark"

uistring:
    # tableofcontents: Table of Contents
    # log_doc_issue: Log Doc Issue
    # breadcrumb:
    #   home: Home
    #   documentation: Documentation
    # expandall: Expand All
    # collapseall: Collapse All
    title: Tonyleekorea  # Displays as site title on top nav bar and on site metadata
    description: A guide for my project documentation and wikis  # Displays as site description meta
    # github_edit_button_text: Edit on GitHub
    # products: Products
    # docindex_product: Product
    # docindex_startpage: Starting page

# Copyright 2021 Google LLC
