<div class="col-md-9" id="tg-sb-content">
                    <div class="post-header">
                        <h1 class="post-title-main">Sample 1 Topic (Product 1)</h1>
                    </div>
                    <div class="post-content">
                        <div class="slick-close">x</div>

                        <div class="slick-demo">
                            <img src="images/slider/image_1.jpg" alt="test-alt">
                            <img src="images/slider/image_2.jpg" alt="test-alt">
                            <img src="images/slider/image_3.jpg" alt="test-alt">
                            <img src="images/slider/image_4.jpg" alt="test-alt">
                            <img src="images/slider/image_5.jpg" alt="test-alt">
                            <img src="images/slider/image_6.gif" alt="test-alt">
                        </div>
             
                        <ul class="slick-dots-demo" style="" role="tablist">
                            <li class="slick-active" role="presentation"><button type="button" role="tab"
                                    id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 6"
                                    tabindex="0" aria-selected="true">OUR DETAIL</button></li>
                            <li role="presentation"><button type="button" role="tab" id="slick-slide-control01"
                                    aria-controls="slick-slide01" aria-label="2 of 6" tabindex="-1">PROFESSIONAL</button></li>
                            <li role="presentation"><button type="button" role="tab" id="slick-slide-control02"
                                    aria-controls="slick-slide02" aria-label="3 of 6" tabindex="-1">PHOTOGRAPH</button></li>
                            <li role="presentation"><button type="button" role="tab" id="slick-slide-control03"
                                    aria-controls="slick-slide03" aria-label="4 of 6" tabindex="-1">REASONABLE</button></li>
                            <li role="presentation"><button type="button" role="tab" id="slick-slide-control04"
                                    aria-controls="slick-slide04" aria-label="5 of 6" tabindex="-1">zara manMovie</button></li>
                            <li role="presentation"><button type="button" role="tab" id="slick-slide-control05"
                                    aria-controls="slick-slide05" aria-label="6 of 6" tabindex="-1">[ ▶ ] ZARA SPRING SUMMER 2016</button></li>
                        </ul>

                    </div>               
                
                </div>