<xmp>* 6e63423 (HEAD -> gh-pages, origin/gh-pages, origin/HEAD)(Sun Aug 1 10:23:49 2021) lstree exmaple
* 44f332b(Sun Aug 1 10:20:53 2021) lstree exmaple
* 36a7365(Sun Aug 1 10:07:13 2021) add git config template to webhook.md
* fd26087(Sun Aug 1 09:52:30 2021) add git config template to webhook.md
* 6c05cf4(Sun Aug 1 09:45:49 2021) add git config template to webhook.md
* 6736ef3(Sun Aug 1 09:40:59 2021) add git config template to webhook.md
* 8f97e27(Sun Aug 1 09:36:39 2021) add git config template to webhook.md
* e259d34(Sun Aug 1 06:53:39 2021) add .nav li a:visited with border color goldenrod
* e3afa29(Sat Jul 31 19:41:05 2021) add .nav li a:visited with border color
* a5da6d3(Sat Jul 31 19:33:59 2021) add .nav li a:hover:before with border color
* ce3d1de(Sat Jul 31 19:30:04 2021) add .nav li a:hover:before with border color
* 5b01360(Sat Jul 31 19:24:14 2021) add .nav li a:hover:before with border color
* de19541(Sat Jul 31 19:09:53 2021) add vtol webdev to tags.yml
* af8c384(Sat Jul 31 19:00:36 2021) add getting_started tag to challenger project.md
* 46a15ef(Sat Jul 31 17:19:44 2021) Update customstyles.css
* a31154b(Sat Jul 31 17:14:17 2021) Update customstyles.css
* abb904a(Sat Jul 31 15:56:02 2021) replace missionplanner image in callengerproject
* 749f637(Sat Jul 31 15:53:47 2021) replace challenger project images with clipboard
* 229a952(Sat Jul 31 15:47:50 2021) replace challengerrpject images with clipboards
* 9de8813(Sat Jul 31 15:32:37 2021) Update mydoc_challenger-project.md
* 2a4954b(Sat Jul 31 15:17:10 2021) Update mydoc_challenger-project.md
* a32b57c(Sat Jul 31 15:15:29 2021) Update mydoc_challenger-project.md
* 26841df(Sat Jul 31 15:14:14 2021) Update mydoc_challenger-project.md
* bf039fc(Sat Jul 31 15:09:29 2021) Update mydoc_challenger-project.md
* 0ba82f0(Sat Jul 31 15:06:44 2021) Update mydoc_challenger-project.md
* 7fe6c22(Sat Jul 31 15:04:52 2021) Update mydoc_challenger-project.md
* 7465996(Sat Jul 31 14:56:41 2021) Update mydoc_challenger-project.md
* 2876970(Sat Jul 31 14:45:19 2021) Update mydoc_challenger-project.md
* e2e6192(Sat Jul 31 14:39:12 2021) Update mydoc_challenger-project.md
* 87b16db(Sat Jul 31 13:17:59 2021) #d4ecc3
* 9992b61(Sat Jul 31 12:14:14 2021) Update head.html
* ea1a87f(Sat Jul 31 12:01:46 2021) Update head.html
* 29ee5c9(Sat Jul 31 11:57:12 2021) Update head.html
* 05d6ad4(Sat Jul 31 11:54:24 2021) Update head.html
* 2fab4a8(Sat Jul 31 11:34:11 2021) Update customstyles.css
* f1e00b5(Sat Jul 31 09:08:57 2021) Update customstyles.css
* d8d9464(Sat Jul 31 09:03:31 2021) Update customstyles.css
* 1c88fbe(Sat Jul 31 08:57:17 2021) Update customstyles.css
* 5e9b16f(Sat Jul 31 08:52:08 2021) Update customstyles.css
* 78bd11a(Sat Jul 31 08:36:13 2021) Update customstyles.css
* 5110d4e(Sat Jul 31 08:28:26 2021) Update customstyles.css
* bccefde(Sat Jul 31 08:17:09 2021) Update customstyles.css
* 93859bd(Sat Jul 31 07:47:17 2021) add .subfolder-background class to subfolder tag to color blue
* 3ebd33f(Sat Jul 31 07:40:37 2021) add .subfolder-background class to subfolder tag to color blue
* 88ac82b(Sat Jul 31 07:25:55 2021) edit customstyle for nav ul, nav li li for color  blue
* ee518a9(Sat Jul 31 06:07:56 2021) edit customstyle for nav li li for borderbottom color blue
* 3711cdb(Sat Jul 31 06:03:31 2021) edit customstyle for nav li li:after for background color blue
* a8c9a9d(Sat Jul 31 05:59:57 2021) edit customstyle for nav li li for background color blue
* 36d864e(Sat Jul 31 05:55:47 2021) edit customstyle for nav li li for background color blue
* 2c9420e(Sat Jul 31 05:48:55 2021) edit themegreen for nav li a for background color green
* bc15d1b(Sat Jul 31 05:42:58 2021) edit themegreen for nav li a for background color green
* fa51164(Sat Jul 31 05:38:46 2021) edit customstyle for nav li a for background color green
* e42b3e3(Fri Jul 30 18:54:34 2021) Update index.md
* 17d732f(Fri Jul 30 17:49:05 2021) GIT series with webhook github gitlab
* 00753f0(Fri Jul 30 16:44:29 2021) GIT series with webhook github gitlab
* 8947f15(Fri Jul 30 16:22:19 2021) GIT series with webhook github gitlab
* 6664b13(Fri Jul 30 16:04:25 2021) fix webhook tagsA
* 4972a27(Fri Jul 30 15:36:41 2021) Update mydoc_webhook.md
* f26b71c(Fri Jul 30 15:30:03 2021) Update mydoc_webhook.md
* 6d3ed52(Fri Jul 30 15:25:48 2021) Delete MyApplication-0.1-debug.apk
* 950208c(Fri Jul 30 14:22:03 2021) Update mydoc_webhook.md
* 3dd0a94(Fri Jul 30 13:23:40 2021) Update mydoc_webhook.md
*   a97c13f(Fri Jul 30 13:05:25 2021) Merge branch 'gh-pages' of github.com:aiegoo/documentation into gh-pages
|\  
| * 03c29e8(Fri Jul 30 12:46:55 2021) Update mydoc_webhook.md
| * 22f0e2a(Fri Jul 30 09:45:32 2021) Create CNAME
* | 87e55c3(Fri Jul 30 13:05:06 2021) add series.git and next html files
|/  
* ec35f5f(Thu Jul 29 22:04:44 2021) add more book list to fiction.md
* c9a2d09(Thu Jul 29 21:28:26 2021) add more book listto fiction.md
* 6e1d041(Thu Jul 29 21:13:16 2021) Update mydoc_fiction.md
* 070957f(Thu Jul 29 20:00:38 2021) add summary to fiction.md
* ff9b435(Thu Jul 29 19:53:24 2021) make toc to false
* 44e1c11(Thu Jul 29 19:48:16 2021) add list of books to fiction tab of fiction.md
* de886c9(Thu Jul 29 19:40:55 2021) add contents to coursebook for fiction.md
* 9ddda1f(Thu Jul 29 19:34:46 2021) customizing tabs for fiction.md
* f7bbc82(Thu Jul 29 19:29:49 2021) customizing tabs for fiction.md
* dfbf1fe(Thu Jul 29 19:23:44 2021) customizing tabs for fiction.md
* 9e15e0d(Thu Jul 29 19:22:28 2021) customizing tabs for fiction.md
* c12de76(Thu Jul 29 19:20:10 2021) customizing tabs for fiction.md
* 52b93ba(Thu Jul 29 18:59:53 2021) add headkings for each tab
* b768c91(Thu Jul 29 18:52:25 2021) add shell tab tags to fiction.md
* 3b9386c(Thu Jul 29 18:51:16 2021) add shell tab tags to fiction.md
* b920cfd(Thu Jul 29 17:21:48 2021) add title to huge-tip
* 088d268(Thu Jul 29 15:55:47 2021) add summary to pixhawk tools page
* 0f4a909(Thu Jul 29 15:48:33 2021) Update mydoc_commenting_on_files.md
* 7a2da01(Thu Jul 29 15:46:25 2021) Update tag_raspi.md
* 774540a(Thu Jul 29 15:42:36 2021) Update tag_raspi.md
* a3dd319(Thu Jul 29 15:17:49 2021) Update mydoc_commenting_on_files.md
* 220067d(Thu Jul 29 15:14:27 2021) Update mydoc_seriesdemo3.md
* ed37457(Thu Jul 29 15:12:33 2021) Update mydoc_seriesdemo4.md
* a1573e2(Thu Jul 29 15:12:11 2021) Update mydoc_seriesdemo2.md
* 1a1e13b(Thu Jul 29 15:11:28 2021) Update mydoc_seriesdemo1.md
* d9b4d5a(Thu Jul 29 15:05:14 2021) add acme series to challenger-project and rostopic for gui overview
* cc4dfef(Thu Jul 29 14:49:22 2021) add pages/mydoc/mydoc_webdev.md
* fae62a9(Thu Jul 29 14:35:53 2021) add pages/mydoc/mydoc_webdev.md
* fb10ed9(Thu Jul 29 14:28:28 2021) add pages/mydoc/mydoc_mycourse.md to change its title
* 478ac25(Thu Jul 29 14:27:41 2021) add pages/mydoc/mydoc_webscraping.md
* 2efcbaa(Thu Jul 29 14:24:21 2021) add pages/mydoc/mydoc_mycourse.md
* c32a28d(Thu Jul 29 13:56:11 2021) uncomment style tag of index.html of _site
* 3e838f6(Thu Jul 29 11:10:31 2021) remove count_private true
* 07c8838(Thu Jul 29 10:29:40 2021) remove count_private true
* 7e9faec(Thu Jul 29 10:22:44 2021) trying to fix news article huge tip
* 4ddc2f5(Thu Jul 29 10:20:26 2021) trying to fix news article huge tip
*   f1d7dc4(Thu Jul 29 10:10:00 2021) fix conflict issues
|\  
| * 0d0ad3d(Thu Jul 29 08:52:28 2021) add huge tip md file
| * 2c7b5dc(Wed Jul 28 22:05:58 2021) add note of fledge to place credits
| * 747e118(Wed Jul 28 22:01:34 2021) add note of fledge to place credits
| * e630284(Wed Jul 28 21:52:16 2021) add post/fineprint.md
| * 3e080ed(Wed Jul 28 18:23:46 2021) fix copyright duplicate issue by editing config.yml for company name
| * db6556d(Wed Jul 28 18:16:25 2021) fix copyright duplicate issue
| * fe37d68(Wed Jul 28 18:13:34 2021) fix copyright duplicate issue
| * a515ba1(Wed Jul 28 18:08:57 2021) fix copyright duplicate issue
| * 3fbfafd(Wed Jul 28 17:59:06 2021) add link to about.md
| * 6369398(Wed Jul 28 17:25:50 2021) add tags to actions.md
| * 2ce20c7(Wed Jul 28 17:21:43 2021) update _includes/custom for the copyright notice
| * 5310034(Wed Jul 28 17:14:21 2021) update copyright removing most
| * 9f8c109(Wed Jul 28 13:58:52 2021) Update mydoc_django.md
| * 9bb0915(Wed Jul 28 13:56:55 2021) Create tag_xfile.md
| * f610ed5(Wed Jul 28 13:55:30 2021) Update tags.yml
| * 79aa7ba(Wed Jul 28 13:52:02 2021) Create tag_django.md
| * 2194d8e(Wed Jul 28 13:46:15 2021) Update mydoc_gitlab.md
| * b45b7ba(Wed Jul 28 13:44:52 2021) Update mydoc_docker.md
| * f0f267a(Wed Jul 28 13:38:50 2021) Update mydoc_pipeline.md
| * 8ddb94b(Wed Jul 28 13:36:47 2021) Update mydoc_webhook.md
| * 9af7402(Wed Jul 28 12:45:34 2021) Update mydoc_ansible.md
| * 93600de(Wed Jul 28 12:40:25 2021) Update mydoc_support.md
| * 6ee9351(Wed Jul 28 12:38:13 2021) Update mydoc_supported_features.md
| * 769d63a(Wed Jul 28 12:35:40 2021) Create tag_setup.md
| * f6b7e0f(Wed Jul 28 12:34:10 2021) Create tag_git.md
| * eeb793a(Wed Jul 28 12:32:03 2021) Update tags.yml
| * 9fb9421(Wed Jul 28 12:30:09 2021) Update mydoc_aboutsite.md
| * 83b1740(Wed Jul 28 12:28:48 2021) Update index.md
* | ebbf1a6(Thu Jul 29 10:02:26 2021) githut stats count_private true
|/  
* 6296b1c(Wed Jul 28 12:06:25 2021) add tag md file for additional tag items
* cdefd53(Wed Jul 28 11:54:56 2021) Update mydoc_rostopic.md
* 5a67b5f(Wed Jul 28 11:51:49 2021) Update mydoc_support.md
* 5e19163(Wed Jul 28 11:44:25 2021) Update tag_aiotoverview.md
* 9ef5a68(Wed Jul 28 11:35:24 2021) Update tag_aiotoverview.md
* f187a5f(Wed Jul 28 11:34:56 2021) Update tags.yml
* d125db2(Wed Jul 28 11:34:12 2021) Update tag_webrtc.md
* a81971e(Wed Jul 28 11:33:08 2021) Update tags.yml
* dd8711a(Wed Jul 28 11:30:51 2021) Update mydoc_sidebar.yml
* 9cb72b2(Wed Jul 28 10:18:10 2021) Update home_sidebar.yml
* fb339a0(Wed Jul 28 10:02:19 2021) Create home_sidebar.yml
* b47e64a(Wed Jul 28 10:01:51 2021) Update home_sidebar.yml
* 781778d(Wed Jul 28 09:23:25 2021) Update 2021-07-28-update-now.md
* f02f4a1(Wed Jul 28 09:20:47 2021) Update 2021-07-28-update-now.md
* e151b2b(Wed Jul 28 09:10:42 2021) Update 2021-07-28-update-now.md
* b26223c(Wed Jul 28 08:57:15 2021) Create 2021-07-28-update-now.md
* ff52e46(Wed Jul 28 07:32:53 2021) Update mydoc_rostopic.md
* 2872720(Wed Jul 28 06:26:16 2021) Update mydoc_supported_features.md
* f8cecc8(Wed Jul 28 03:38:34 2021) Update tag_gcs_web.md
* df3b197(Tue Jul 27 20:55:43 2021) Update tag_webrtc.md
* 63427d6(Tue Jul 27 20:52:06 2021) Update tag_webrtc.md
* 38a4e3d(Tue Jul 27 20:45:08 2021) Update tag_gcs_web.md
* c900aed(Tue Jul 27 20:43:33 2021) Update tag_gcs_web.md
* 5f40bce(Tue Jul 27 19:12:38 2021) Update tag_gcs_web.md
* 314b04b(Tue Jul 27 18:50:51 2021) Update tag_gcs_web.md
* bd7ea48(Tue Jul 27 17:24:15 2021) Update mydoc_support.md
* a3f85e5(Tue Jul 27 17:21:57 2021) Update mydoc_aboutsite.md
* 8ccf6c2(Tue Jul 27 17:16:31 2021) Update toc.html
* f77e2bb(Tue Jul 27 17:06:02 2021) Update tag_webrtc.md
* 0c32c1f(Tue Jul 27 16:54:50 2021) Update tag_webrtc.md
* 9765198(Tue Jul 27 15:45:45 2021) Update tag_webrtc.md
* 7c6e82b(Tue Jul 27 15:41:25 2021) Update tag_webrtc.md
* 6cfb321(Tue Jul 27 15:38:16 2021) Update tag_webrtc.md
* 9440974(Tue Jul 27 15:29:06 2021) Update tag_webrtc.md
* ad578e4(Tue Jul 27 15:14:47 2021) Update tag_webrtc.md
* 6dddfbe(Tue Jul 27 15:04:43 2021) Update mydoc_sidebar.yml
* fd28f0a(Tue Jul 27 15:03:22 2021) Update tag_gcs_web.md
* 6c4e17a(Tue Jul 27 14:59:59 2021) Update mydoc_sidebar.yml
* 8327437(Tue Jul 27 14:58:48 2021) Create tag_gcs_web.md
* 506df5b(Tue Jul 27 14:42:21 2021) Update mydoc_sidebar.yml
* 73361b0(Tue Jul 27 14:39:15 2021) mqttpython.pdf
* 80f44d1(Tue Jul 27 14:38:23 2021) webrtctutorial.pdf
* 3da2cad(Tue Jul 27 14:34:38 2021) add existing pdf files
* 68673cf(Tue Jul 27 12:45:58 2021) Update tag_webrtc.md
* ebd3e8a(Tue Jul 27 12:19:27 2021) Update tag_webrtc.md
* cd85c0f(Mon Jul 26 21:06:55 2021) Update mydoc_rostopic.md
* e172881(Mon Jul 26 21:02:41 2021) Update mydoc_rostopic.md
* 55d8baf(Mon Jul 26 20:57:05 2021) add statustext to rostopic.md
* 2627f34(Mon Jul 26 20:27:29 2021) Update mydoc_rostopic.md
* ad06344(Mon Jul 26 18:07:48 2021) Update mydoc_about.md
* f196bd4(Mon Jul 26 17:59:42 2021) Update mydoc_supported_features.md
* 3b08dd8(Mon Jul 26 17:56:28 2021) Update index.md
* 65ca739(Mon Jul 26 10:27:53 2021) Update mydoc_aboutsite.md
* 2d90370(Mon Jul 26 09:02:07 2021) Update mydoc_supported_features.md
* 5dbf89c(Mon Jul 26 08:20:47 2021) Update mydoc_supported_features.md
* 81d96df(Mon Jul 26 08:18:30 2021) Update mydoc_supported_features.md
* 0981629(Mon Jul 26 08:15:08 2021) Update mydoc_supported_features.md
* 383bf33(Mon Jul 26 07:32:36 2021) Update mydoc_supported_features.md
* e3e27c2(Mon Jul 26 06:44:58 2021) Update mydoc_aboutsite.md
* f484097(Sun Jul 25 23:13:19 2021) Update index.md
* ea11122(Sun Jul 25 23:11:04 2021) Update index.md
* aa61cf0(Sun Jul 25 23:03:48 2021) Update mydoc_supported_features.md
* a729bb7(Sun Jul 25 22:57:33 2021) Update mydoc_support.md
* 466f237(Sun Jul 25 22:50:57 2021) Update mydoc_sidebar.yml
* 3483bdf(Sun Jul 25 22:33:44 2021) Update mydoc_about.md
* 36ba10d(Sun Jul 25 21:59:36 2021) Update mydoc_supported_features.md
* 6209349(Sun Jul 25 21:40:53 2021) Update mydoc_sidebar.yml
* 2e11d4f(Sun Jul 25 21:25:13 2021) Update mydoc_about.md
* 9bc8cd1(Sun Jul 25 21:22:49 2021) Update mydoc_aboutsite.md
* a1fc72b(Sun Jul 25 21:01:22 2021) Update mydoc_support.md
* afb006e(Sun Jul 25 20:51:04 2021) Update mydoc_support.md
* 674af20(Sun Jul 25 20:42:54 2021) Update mydoc_support.md
* 9c31b55(Sun Jul 25 19:47:51 2021) Update mydoc_rostopic.md
* 172b988(Sun Jul 25 19:19:27 2021) Update mydoc_commenting_on_files.md
* 575b56a(Sun Jul 25 17:59:16 2021) Update index.md
* 7779545(Sun Jul 25 17:54:21 2021) Update index.md
* eb1de27(Sun Jul 25 17:36:54 2021) Update index.md
* 4eb15e3(Sun Jul 25 17:31:27 2021) Update index.md
* 528ddca(Sun Jul 25 17:28:29 2021) Update index.md
* cfa1396(Sun Jul 25 17:21:14 2021) Update index.md
* 862b378(Sun Jul 25 17:17:45 2021) Update mydoc_rostopic.md
* 47812e3(Sun Jul 25 17:03:15 2021) add link wrapper
* 183a6f7(Sun Jul 25 15:48:10 2021) Update mydoc_rostopic.md
* 7e2ec39(Sun Jul 25 15:33:55 2021) Update topnav.html
* 939b2bd(Sun Jul 25 15:32:08 2021) Update index.md
* 261da7b(Sun Jul 25 15:22:47 2021) Update index.md
* f98ecd2(Sun Jul 25 15:18:16 2021) Update index.md
* 62b9085(Sun Jul 25 11:50:39 2021) Update mydoc_rostopic.md
* b20ea6a(Sun Jul 25 10:55:31 2021) add tony_doc.svg
* 4f1ccf1(Sun Jul 25 10:30:46 2021) add tonyillustWyoga svg
* 4598b30(Sun Jul 25 09:10:40 2021) Update mydoc_rostopic.md
* 768b2cb(Sun Jul 25 09:01:48 2021) Update mydoc_rostopic.md
* 66d5db8(Sun Jul 25 08:49:45 2021) Update tag_raspi.md
* f91bb66(Sun Jul 25 07:49:02 2021) Update mydoc_rostopic.md
* a60a251(Sun Jul 25 06:26:09 2021) Update mydoc_sidebar.yml
* 5cce979(Sun Jul 25 01:08:53 2021) Update mydoc_rostopic.md
* 34f2acd(Sun Jul 25 01:06:48 2021) Update mydoc_rostopic.md
*   ae4a1bf(Sun Jul 25 00:59:58 2021) Merge branch 'gh-pages' of github.com:aiegoo/documentation into gh-pages
|\  
| * 7c2eda3(Sun Jul 25 00:38:35 2021) Update mydoc_rostopic.md
* | aa8ffa9(Sun Jul 25 00:57:20 2021) add gcs overvew from the ardupilot wiki
|/  
* 05e0c6b(Sun Jul 25 00:36:26 2021) fix typos side_bar
* d07bf23(Sun Jul 25 00:34:38 2021) fix typos side_bar
* 496ac19(Sun Jul 25 00:28:39 2021) fix typos side_bar
* 206a4f4(Sun Jul 25 00:20:52 2021) add mqtt  rqt webrtc and corresponding menu changes for rostopics
* 4817e4e(Sun Jul 25 00:00:43 2021) Update mydoc_rostopic.md
* d9bd7ad(Sat Jul 24 23:54:20 2021) Update mydoc_rostopic.md
* 7551e62(Sat Jul 24 22:32:43 2021) Update mydoc_rostopic.md
* ad78c99(Sat Jul 24 19:45:31 2021) Update mydoc_drone.md
* 2c5ee4a(Sat Jul 24 19:34:57 2021) Create mathcha.svg
* 0a01b6c(Sat Jul 24 18:45:27 2021) Update mydoc_pixhawk_overview.md
* ba89fee(Sat Jul 24 17:19:54 2021) Update mydoc_drone.md
* 9ae36f2(Sat Jul 24 17:15:10 2021) Update mydoc_drone.md
* 3d3b4e3(Sat Jul 24 15:45:47 2021) Update mydoc_drone.md
* 731bbcd(Sat Jul 24 14:50:24 2021) Update mydoc_drone.md
* 8ac042b(Sat Jul 24 14:42:27 2021) Update mydoc_docker.md
* 9ede4a2(Sat Jul 24 12:09:37 2021) Update mydoc_docker.md
* 08dee81(Sat Jul 24 09:40:08 2021) Update tag_aiotoverview.md
* ae14b09(Sat Jul 24 09:23:23 2021) Update tag_raspi.md
* 34a6d9c(Sat Jul 24 09:19:10 2021) Update tag_raspi.md
* 8015c38(Sat Jul 24 09:16:29 2021) Update mydoc_rostopic.md
* 640274d(Sat Jul 24 08:35:52 2021) Update mydoc_pixhawk_overview.md
* d66e8af(Sat Jul 24 07:26:01 2021) Update tag_raspi.md
* 8b83a73(Sat Jul 24 07:09:09 2021) Update tag_raspi.md
* 1acc57b(Fri Jul 23 18:16:08 2021) change ++ names to plus
* 7c1fbbc(Fri Jul 23 18:02:26 2021) add links to two pdfs
* 4ff7f39(Fri Jul 23 17:56:08 2021) add qt5_python.pdf
* f972fb8(Fri Jul 23 17:52:51 2021) add qt5_c++ pdf
*   b867bd7(Fri Jul 23 17:34:20 2021) Merge branch 'gh-pages' of github.com:aiegoo/documentation into gh-pages
|\  
| * f8e980e(Fri Jul 23 17:20:52 2021) Update mydoc_rostopic.md
| * 283e25d(Fri Jul 23 16:16:24 2021) Update mydoc_rostopic.md
| * 4804ddf(Fri Jul 23 16:15:03 2021) Update mydoc_rostopic.md
* | 0707e83(Fri Jul 23 17:33:34 2021) add qt5_c++ files
|/  
* 366ade0(Fri Jul 23 14:16:24 2021) pdf/qt5_python with lesseons through 13 from 11 and sw hw list
* 943f07b(Fri Jul 23 14:12:57 2021) pdf/qt5_python with lesseons through 10 from 6
* eb8364a(Fri Jul 23 14:06:23 2021) pdf/qt5_python with lesseons through 5
* 8284fc7(Fri Jul 23 07:05:57 2021) Update mydoc_webhook.md
* 86701f7(Fri Jul 23 04:37:48 2021) Update tag_raspi.md
* a0ee3e5(Thu Jul 22 22:57:07 2021) Update tag_raspi.md
* 541e11e(Thu Jul 22 22:55:02 2021) Update tag_raspi.md
* ee45396(Thu Jul 22 22:52:52 2021) Update tag_raspi.md
* 14c292a(Thu Jul 22 22:51:56 2021) Update tag_raspi.md
* 97662cf(Thu Jul 22 22:23:01 2021) Update tag_raspi.md
* 284bb5e(Thu Jul 22 22:06:24 2021) Update tag_raspi.md
* 6768cfb(Thu Jul 22 22:04:30 2021) Update tag_raspi.md
* 18916cd(Thu Jul 22 21:30:35 2021) Update mydoc_contact.md
* 05a1eac(Thu Jul 22 21:29:35 2021) Update mydoc_contact.md
* fc92d9b(Thu Jul 22 20:47:28 2021) Update tag_raspi.md
* e7985ff(Thu Jul 22 16:01:02 2021) fix the ediso_arduino image align issue
* 07bfaa7(Thu Jul 22 15:58:23 2021) fix the ediso_arduino image align issue
* 7291121(Thu Jul 22 15:55:49 2021) fix the ediso_arduino image align issue
* 280f424(Thu Jul 22 15:50:47 2021) fix the ediso_arduino image align issue
* 2373ae6(Thu Jul 22 15:49:03 2021) fix the ediso_arduino image align issue
* 0d6dd9b(Thu Jul 22 15:11:48 2021) Update customstyles.css
* 25e1ecd(Thu Jul 22 15:11:16 2021) Update tag_edison_arduino.md
* 546313c(Thu Jul 22 15:05:01 2021) Update tag_edison_arduino.md
* 8956bcf(Thu Jul 22 15:02:12 2021) Update tag_edison_arduino.md
* cf37f65(Thu Jul 22 14:59:17 2021) Update tag_edison_arduino.md
* 17a0c03(Thu Jul 22 14:48:50 2021) Update tag_edison_arduino.md
* ad98a1b(Thu Jul 22 14:46:17 2021) Update customstyles.css
* 84e9732(Thu Jul 22 14:43:27 2021) Update mydoc_sidebar.yml
* 8605354(Thu Jul 22 14:30:44 2021) Update customstyles.css
* 2f0e3a3(Thu Jul 22 14:28:55 2021) Update customstyles.css
* be488bc(Thu Jul 22 14:26:00 2021) Update tag_edison_arduino.md
* 337dc12 (temp)(Thu Jul 22 14:24:48 2021) Update customstyles.css
* aa7a5f0(Thu Jul 22 14:07:19 2021) Update and rename tag_special_layouts.md to tag_edison_arduino.md
* e4fcc9b(Thu Jul 22 14:05:31 2021) Update mydoc_sidebar.yml
* c46c2f6(Thu Jul 22 14:00:44 2021) Create tag_realsense.md
* 2f2714c(Thu Jul 22 13:59:11 2021) Create tag_sensor_detection.md
* 191ac90(Thu Jul 22 13:56:07 2021) Create tag_lora_monitoring.md
* b204399(Thu Jul 22 13:54:44 2021) Create tag_serializer.md
* f211be5(Thu Jul 22 13:51:33 2021) Update mydoc_sidebar.yml
* 456c572(Thu Jul 22 13:47:35 2021) Update mydoc_sidebar.yml
* 5b4d259(Thu Jul 22 13:42:11 2021) Update mydoc_sidebar.yml
* 8eea791(Thu Jul 22 13:37:39 2021) Update mydoc_sidebar.yml
* 9ceec34(Thu Jul 22 13:32:56 2021) Create tag_raspi.md
* fbcb257(Thu Jul 22 13:30:47 2021) Update mydoc_sidebar.yml
* 0794ac9(Thu Jul 22 13:14:42 2021) Update tag_aiotoverview.md
* e5b650b(Thu Jul 22 13:07:18 2021) Create tag_aiotoverview.md
* 63d92dd(Thu Jul 22 07:45:24 2021) Update mydoc_sidebar.yml
* 943da05(Wed Jul 21 21:41:21 2021) add pilot_handbook
* ac2be31(Wed Jul 21 21:40:40 2021) Update mydoc_webhook.md
* 17ec2b4(Wed Jul 21 21:33:27 2021) Update mydoc_webhook.md
* 227a80e(Wed Jul 21 21:27:00 2021) Update mydoc_webhook.md
* fee7d5c(Wed Jul 21 19:55:38 2021) Update mydoc_contact.md
* a0fdf33(Wed Jul 21 16:28:32 2021) Update mydoc_contact.md
* 2fa66ab(Wed Jul 21 16:21:40 2021) Update mydoc_contact.md
*   0c8c76e(Wed Jul 21 15:17:23 2021) Merge branch 'gh-pages' of github.com:aiegoo/documentation into gh-pages
|\  
| *   1c64be8(Wed Jul 21 15:12:09 2021) Merge branch 'gh-pages' of github.com:aiegoo/documentation into gh-pages
| |\  
* | \   54c1559(Wed Jul 21 15:16:53 2021) Merge branch 'gh-pages' of github.com:aiegoo/documentation into gh-pages
|\ \ \  
| |/ /  
|/| /   
| |/    
| * c9b7899(Tue Jul 20 22:45:31 2021) Update tag_jetson_nano.md
| * e057bf0(Tue Jul 20 22:40:40 2021) Update tag_jetson_nano.md
| * 325d0ae(Tue Jul 20 22:37:09 2021) Update tag_jetson_nano.md
| * 20453c3(Tue Jul 20 22:27:34 2021) Update tag_jetson_nano.md
| * 23833a3(Tue Jul 20 22:25:24 2021) Update tag_jetson_nano.md
| * 14b3136(Tue Jul 20 19:01:07 2021) Update tag_jetson_nano.md
| * 932c0d4(Tue Jul 20 18:52:39 2021) Create tag_jetson_xavier.md
| * 12bde89(Tue Jul 20 18:51:33 2021) Create tag_jetson_nano.md
| * 1d83e52(Tue Jul 20 18:44:57 2021) Update mydoc_sidebar.yml
| * 8d58075(Tue Jul 20 15:43:01 2021) Update _config.yml
| * 4d93df3(Tue Jul 20 15:37:00 2021) Update _config.yml
| * f632229(Tue Jul 20 15:34:04 2021) Update _config.yml
| * abd2b66(Tue Jul 20 15:08:15 2021) Update mydoc_pixhawk_overview.md
| * 91866e5(Tue Jul 20 15:07:08 2021) Update mydoc_pixhawk_overview.md
| * 6cd0d54(Tue Jul 20 15:04:26 2021) Update _config.yml
| * 2efb64e(Tue Jul 20 15:01:15 2021) Update mydoc_pixhawk_overview.md
| * 0fb0fab(Tue Jul 20 14:57:46 2021) Update mydoc_pixhawk_overview.md
| * ce5d5f5(Tue Jul 20 14:57:24 2021) Update mydoc_pixhawk_overview.md
| * e4d9c53(Tue Jul 20 14:51:08 2021) Update mydoc_pixhawk_overview.md
* | 63862a1(Wed Jul 21 15:11:44 2021) taglogic button with javascript onclick to https://github.com/aiegoo/documentation/settings/access
|/  
* d853fe4(Tue Jul 20 12:14:33 2021) trying to fix pixhaw menu link
* 051750e(Tue Jul 20 11:13:38 2021) trying to fix pixhaw menu link
* d21ca22(Tue Jul 20 11:06:00 2021) change the permalink to pixhawk menu
* 3847791(Tue Jul 20 10:54:14 2021) --amend
* c7dda75(Tue Jul 20 10:42:56 2021) add sub-menu implementation with cube
* baa7908(Tue Jul 20 10:34:30 2021) add subfolde</xmp>.md
* 8645053(Tue Jul 20 00:40:22 2021) Update index.md
* 83782a4(Mon Jul 19 19:26:25 2021) Update mydoc_commenting_on_files.md
* 0484831(Mon Jul 19 18:09:09 2021) Update mydoc_commenting_on_files.md
* 89866f4(Mon Jul 19 14:56:19 2021) Update mydoc_commenting_on_files.md
* 84a6e3b(Mon Jul 19 13:59:53 2021) Update mydoc_commenting_on_files.md
* 14c13b7(Sun Jul 18 16:16:30 2021) Update customstyles.css
* 5280314(Sun Jul 18 15:59:15 2021) Update index.md
* 3c5f322(Sun Jul 18 15:54:51 2021) Update index.md</xmp>