<figure>{% if {{include.url}} %}<a class="no_icon" target="_blank" rel="noopener" href="{{include.url}}">{% endif %}<img class="docimage" src="images/{{include.file}}" alt="{{include.alt}}" {% if {{include.max-width}} %}style="max-width: {{include.max-width}}px"{% endif %} />{% if {{include.url}} %}</a>{% endif %}{% if {{include.caption}} %}<figcaption>{{include.caption}}</figcaption>{% endif %}</figure>

### poses

{://nomarkdown}
|---
| | | | | | | |  
| :-: | :-: | :-: | :-: | :-: | :-: | :-: | :-: 
| ![](images/yoga/1adho.jpg) | ![](images/yoga/2adho.jpg) | ![](images/yoga/3ardha.jpg) | ![](images/yoga/4ardha.jpg) | ![](images/yoga/5baddha.jpg) | ![](images/yoga/6baksana.jpg) | ![](images/yoga/7balasana.jpg) | ![](images/yoga/8bharadvajasana.jpg) 
| ![](images/yoga/9bhujagasana.jpg) | ![](images/yoga/10chaturanga.jpg) | ![](images/yoga/11dandasana.jpg) | ![](images/yoga/12dhanurasana.jpg) | ![](images/yoga/13durgago.jpg) | ![](images/yoga/14ekapada.jpg) | ![](images/yoga/15garudasana.jpg) | ![](images/yoga/16gomukhasana.jpg)  
|---
|
|===
|

{% comment %} Copyright {% endcomment %}
