{% assign documents = site.mycourse | sort: 'updated' | reverse %}
<div id="app" class="post post-article" itemscope itemtype="https://schema.org/BlogPosting">
    <H3 class="post-title">최근 변경된 문서</H3>
    <ul class="post-list" itemprop="articleBody">
{% for pg in documents %}{% if pg.public != false and pg.title != 'wiki' %}
        <li>
            <div>
                <a class="post-link" href="{{ pg.url }}">
                    <div class="post-meta">{{ pg.updated | date: "%Y.%m.%d" }} - {{ pg.title }}</div>
                    <div class="post-excerpt">{{ pg.summary }}</div>
        {% if pg.tags %}
                    <ul class="tag-list"><li class="post-tag">{{ pg.tag }}</li></ul>
        {% endif %}
                </a>
            </div>
        </li>
{% endif %}{% endfor %}
    </ul>
</div>
