<div class="row">
    {% assign documents = site.mycourse | sort: 'updated' | reverse %}       
    {% assign content_col_size = "col-md-6" %} 
    <!-- Content Column -->
    <H3 class="post-title">최근 변경된 문서</H3>
    <div class="{{content_col_size}}" id="tg-sb-content">
        <div class="post-list leaders" style="padding-left: 1em;">
        {% for pg in documents %}{% if pg.public != false and pg.title != 'wiki' %}
            
                <div>
                    <a class="post-link" href="{{ pg.url }}" style=" text-decoration: none;">
                        <div class="post-meta" style="line-height:1.1rem;">{{ pg.updated | date: "%Y.%m.%d" }} - {{ pg.title }}</div>
                        <div class="post-excerpt">{{ pg.summary }}</div>
                        {% if pg.tags %}
                        <ul class="tag-list"><li class="post-tag">{{ pg.tags }}</li></ul>
                        {% endif %}
                    </a>
                </div>
           
        {% endif %}{% endfor %}
        </div>
    </div>
</div>

<script src="/js/axios.min.js"></script>
<script async src="/js/parent.js"></script>