{% comment %}
<!--
- If tag_names array is not passed in as argument,
  - Create an empty array,
  - Obtain a tag name and push it to the array, and
  - Sort the tag names.
- List tags as a tag cloud.
-->
{% endcomment %}

{% if include.tag_names %}
  {% assign tag_names = include.tag_names %}

{% else %}
  {% assign tag_names = "" | split: ","  %}

  {% for posts_by_tag in site.data.tags.allowed-tags %}
    {% assign tag_names = tag_names | push: posts_by_tag %}
  {% endfor %}

  {% assign tag_names = tag_names | sort %}
{% endif %}

<div class="blog-tags">
  {% for tag_name in tag_names %}
      <a href="{{ #{{ tag_name | slugify }}" class="btn btn-default" style="font-size: {{ tag_name | size  |  times: 4 | plus: 90  }}%">
        <span class="fa fa-folder-open" aria-hidden="true"> 
        {{ tag_name }} <i class="badge">{{ tag_name | size }}</i>
      </span>
      </a>
  {% endfor %}
