<div id="userMap">

    <!-- Button trigger modal 1-->
<button type="button" class="btn btn-default btn-lg modalButton1" data-toggle="modal" data-target="#myModal1">Get Started, rFlysim</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Get Started</h4>
          </div>
          <div class="modal-body">
<p>Your first steps should be to get started. You will need to do the following:</p>

    <ul>
        <li color="#444";><a href=""books_rflyintroduction.html">rflysim download overview</a></li>
        <li><a href="books_rflysetup.html">setting up on matlab</a></li>
        <li><a href="books_rflymodeling.html">modeling</a></li>
    </ul>
    <p>If you run into any of these setup issues, you must solve them before you can continue on.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end of modal -->

            <span class="complexArrow">→</span>

            <!-- Button trigger modal 2 -->
            <button type="button" class="btn btn-default btn-lg modalButton2" data-toggle="modal" data-target="#myModal2">Platforms</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Books</h4>
                  </div>
                  <div class="modal-body">
                    <p>In this step, you will build the widgets for your system. The widgets form the various components that .</p>

                    <p>In order to configure your widgets, you will need to follow these topics:</p>
                    <ul>
                        <li><a href="books_rflydevelop.html">Experimental Process</a></li>
                        <li><a href="books_rflyadvanced.html">Advanced Platform</a></li>
                        <li><a href="books_rflycommercial.html">Commercial Functions</a></li>
                        <li><a href="book-multicopter-introduction.html">multicopter design & control</a></li>
                        <li><a href="book-multicopter-practice.html">multicopter design & control proactice</a></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <span class="complexArrow">→</span>

            <!-- Button trigger modal 3 -->
<button type="button" class="btn btn-default btn-lg modalButton3" data-toggle="modal" data-target="#myModal3">Publish your app</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Publish your app</h4>
                  </div>
                  <div class="modal-body">
                    <p>After you've configured all the necessary components to build your space transformer, you need to publish your app. Of course this content is also just dummy text. Pay no particular attention to the content but rather the format and placement of the map.</p>
                    <p>To publish your app, see the following:
                        <ul>
                            <li><a href="books_rflycode.html">Code base</a></li>
                            <li><a href="books_rflyhandbook.html">handbook</a></li>
                            <li><a href="books_rflyothers.html">rflysim tltd</a></li>
                        </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Button trigger modal 4 -->
<button type="button" class="btn btn-default btn-lg modalButton3" data-toggle="modal" data-target="#myModal4">lessons</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">rFlysim Course Lessons</h4>
                  </div>
                  <div class="modal-body">
                    <p>Lessons.</p>
                    <p>To publish your app, see the following:
                        <ul>
                            <li><a href="rfly-lesson1.html">Lesson1</a></li>
                            <li><a href="rfly-lesson2.html">Lesson2</a></li>
                            <li><a href="rfly-lesson3.html">Lesson3</a></li>
                            <li><a href="rfly-lesson4.html">Lesson4</a></li>
                            <li><a href="rfly-lesson5.html">Lesson5</a></li>
                            <li><a href="rfly-lesson6.html">Lesson6</a></li>
                            <li><a href="rfly-lesson7.html">Lesson7</a></li>
                            <li><a href="rfly-lesson8.html">Lesson8</a></li>
                            <li><a href="rfly-lesson9.html">Lesson9</a></li>
                            <li><a href="rfly-lesson10.html">Lesson10</a></li>
                            <li><a href="rfly-lesson11.html">Lesson11</a></li>
                            <li><a href="rfly-lesson12.html">Lesson12</a></li>
                            <li><a href="rfly-lesson13.html">Lesson13</a></li>
                        </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

<div class="clearfix"></div>

</div>

{% comment %} Copyright  {% endcomment %}
