<div id="userMap">
     <div class="content"><a href="book-how-javascript-works.html"><div class="box box1">how javascript works</div></a></div>
     <div class="arrow"><span class="iconify" data-icon="octicon:arrow-right-16"></span></div>
     <div class="content"><a href="book-simplifying-javascript.html"><div class="box box2">Simplifying Javascript by Joe Morgan</div></a></div>
     <div class="arrow"><span class="iconify" data-icon="octicon:arrow-right-16"></span></div>
     <div class="content"><a href="book-refactoring-2nd.html"><div class="box box3">refactoring design by Martin Fowler</div></a></div>
     <div class="clearfix"></div>

</div>

{% comment %} Copyright  {% endcomment %}

