<div id="userMap">

    <!-- Button trigger modal 1-->
<button type="button" class="btn btn-default btn-lg modalButton1" data-toggle="modal" data-target="#myModal1">Overview</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Get Started - books, articles and hardware images</h4>
          </div>
          <div class="modal-body">
<p>Your first steps should be to get started. You will need to do the following:</p>

    <ul>
        <li><a href="drones_overview.html">drones overview</a></li>
        <li><a href="drones_hardware.html">hardware specs</a></li>
            <li><a href="drones_qground.html">QGroundcontrol</a></li>
            <li><a href="drones_mavsdk.html">MAVSDK</a></li>
            <li><a href="drones_mavlink.html">MAVLINK</a></li>
            <li><a href="drones_ros.html">ros</a></li>
            <li><a href="drones_dronekit.html">dronekit</a></li>            
            <li><a href="drones_swarming.html">swarming</a></li>
        <li><a href="drones_devcodes.html">dev codes</a></li>
        <li><a href="drones_books.html">books</a></li>
    </ul>
    <p>If you run into any of these setup issues, you must solve them before you can continue on.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> <!-- end of modal -->

            <!-- <span class="complexArrow">→</span> -->
<style type="text/css">
.fa-angle-right:before {
    content: "";
    font-size: 18px;
    width: 30px;
    height: 30px;
    border: 2px solid #65d40a;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    display: inline-block;
}
</style>
            <i class="fa fa-angle-right"></i>

<!-- Button trigger modal 2 -->
<button type="button" class="btn btn-default btn-lg modalButton2" data-toggle="modal" data-target="#myModal2">Build your widgets</button>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Skill sets</h4>
      </div>
      <div class="modal-body">
        <p>In this step, you will build the widgets for your system. The widgets form the various components that blah blah blah this is dummy text power the nuclear capabilities of your energy transformer into deep space using wormhole technology and warp drive speeds.</p>

        <p>In order to configure your widgets, you will need to follow these topics:</p>
        <ul>
            <li><a href="drones_sensorfusion.html">Sensor Fusion Serializer</a></li>
            <li><a href="drones_webgcs.html">Web-based GCS</a></li>
            <li><a href="drones_gcs.html">Java-based GCS</a></li>
            <li><a href="drones_middleware.html">middleware</a></li>
            <li><a href="drones_debugging.html">debugging tool</a></li>
            <li><a href="drones_dronekit.html">dronekit</a></li>
            <li><a href="drones_aidrone.html">AI drones</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <span class="complexArrow">→</span> -->
<i class="fa fa-angle-right"></i>

            <!-- Button trigger modal 3 -->
<button type="button" class="btn btn-default btn-lg modalButton3" data-toggle="modal" data-target="#myModal3">Vtol Delivery</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ongoing projects</h4>
                  </div>
                  <div class="modal-body">
                    <p>After you've configured all the necessary components to build your space transformer, you need to publish your app. Of course this content is also just dummy text. Pay no particular attention to the content but rather the format and placement of the map.</p>
                    <p>To publish your app, see the following:
                        <ul>
                            <li><a href="vinyasaflow.html">vtol</a></li>
                            <li><a href="anatomy_vinyasa.html">delivery</a></li>
                            <li><a href="hatha.html">search & rescue</a></li>
                            <li><a href="ashtanga.html">aiports</a></li>
                        </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


<div class="clearfix"></div>

</div>

{% comment %} Copyright  {% endcomment %}
