---
title: Wiki
sidebar: mydoc_sidebar
keywords: news, blog, updates, release notes, announcements
permalink: wiki_archive.html
toc: true
folder: news
---

<div class="home">

    <div class="post-list">


    <section id="archive">
        <h3>This year's wiki</h3>
        {%for wiki in site.wiki %}
        {% unless wiki.next %}
        <ul class="this">
            {% else %}
            {% capture year %}{{ wiki.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ wiki.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
        </ul>
        <h3>{{ wiki.date | date: '%Y' }}</h3>
        <ul class="past">
            {% endif %}
            {% endunless %}
            <li><time>{{ wiki.date | date:"%d %b" }}</time><a href="{{ wiki.url | remove: "/"}}">{% if wiki.title %}{{ wiki.title }}{% else %}{{wiki.name}}{% endif %}</a></li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    </div>
</div>