---
title: "🌱drones"
keywords: drones
tags: [getting_started,drone]
hide: false
toc: true
sidebar: mydoc_sidebar
permalink: "/drones/"
summary: my drones I work with and at my disposal.
---

<!DOCTYPE html>
<html>
<head>
{% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}
<style>

.btn:focus,
.btn:active {
    outline: 0;
    box-shadow: none;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 0%;
    font-size: 20px;
    line-height: 28px;
    border: none;
    background-color: #282828;
}

.scroll-top .btn:focus {
    color: #fff;
    background-color: #282828;
}

.scroll-top .btn:focus:hover {
    background-color: #00a0a0;
}

/*  scrolltop normalize */
header img:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus,
.navbar-brand:hover,
.navbar-brand:focus,
#article .progress:hover .progress-bar,
.scroll-top .btn:hover,
.scroll-top .btn:focus,
.btn-other:hover,
.navbar-toggler:hover  {
    background-color: #00a0a0;
    transition: all ease 1s;
}

</style>

</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
  <div id="main">
    <!-- Content Row -->
    <div class="row">
        {% assign content_col_size = "col-md-12" %}
        {% unless page.hide_sidebar %}
            <!-- Sidebar Column -->
            <div class="col-md-3" id="tg-sb-sidebar">
                {% include sidebar.html %}
            </div>
            {% assign content_col_size = "col-md-9" %}
        {% endunless %}

        <!-- Content Column -->
        <div class="{{content_col_size}}" id="tg-sb-content">
        {% assign drones = site.drones %}
          {% for drone in drones %}
          <h2>
              <a href="{{ drone.url | prepend: site.baseurl }}">
              {{ drone.name }} - {{ drone.type }}
              </a>
          </h2>
          <p>{{ drone.content | markdownify }}</p>
          {% endfor %}
          <p>hello from layout directory</p>
        </div>
    </div> <!-- /.row -->
  </div> <!-- /#main -->
</div> <!-- /.container -->


<!-- start scrolltop -->

<div class="scroll-top page-scroll d-block d-md-none no-print" style="display: block !important;">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
    </div>

<script>
  function getTOCNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var tocNodes = nodes.filter(function(elem) {
        return elem.tagName == "A";
    });
    return tocNodes;
  }
  function getHeaderNodes(master) {
    var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
    var headerNodes = nodes.filter(function(elem) {
        return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
    });
    return headerNodes;
  }

  var title = document.getElementsByClassName("post-title")[0];
  var titleY = window.pageYOffset + title.getBoundingClientRect().top;
  
  var article = document.getElementsByClassName("post-article")[0];
  var articleY = window.pageYOffset + article.getBoundingClientRect().top;

  var toc = document.getElementsByClassName("toc")[0];

  var headerNodes = getHeaderNodes(article);
  var tocNodes = getTOCNodes(toc);

  var before = undefined;

  document.addEventListener('scroll', function(e) {
    if (window.scrollY >= articleY-60) {
      toc.style.cssText = "position: fixed; top: 60px;";
    }
    else {
      toc.style.cssText = "";
    }

    var current = headerNodes.filter(function(header) {
      var headerY = window.pageYOffset + header.getBoundingClientRect().top;
      return window.scrollY >= headerY - 60;
    });

    if (current.length > 0) {
      current = current[current.length-1];

      var currentA = tocNodes.filter(function(tocNode) {
        return tocNode.innerHTML == current.innerHTML;
      })
      
      currentA = currentA[0];
      if (currentA) {
        if (before == undefined) before = currentA;

        if (before != currentA) {
          before.classList.remove("toc-active");
          before = currentA;
        }

        currentA.classList.add("toc-active");
      }
      else {
        if (before) 
          before.classList.remove("toc-active");
      }
    }
    else {
      if (before) 
          before.classList.remove("toc-active");
    }

  }, false);
</script>


    <script>
      // cbpAnimatedHeader.js v1.0.0
      var cbpAnimatedHeader = (function() {

        var docElem = document.documentElement,
          header = document.querySelector( '.navbar' ),
          collapse = document.querySelector( '.navbar-collapse' ),
          didScroll = false,
          changeHeaderOn = 300;

        var lsy = scrollY();

        function init() {
          window.addEventListener( 'scroll', function( event ) {
            if( !didScroll ) {
              didScroll = true;
              setTimeout( scrollPage, 150 );
            }
          }, false );
        }

        function scrollPage() {
          var sy = scrollY();

          if ( sy > lsy ) {
            classie.add( header, 'navbar-shrink' );

            // Disable the toggler while moving down or up
            if (collapse.classList.contains('show')) {
              $('.navbar-toggler:visible').click();
            }
          }
          else {
            classie.remove( header, 'navbar-shrink' );
          }
          didScroll = false;
          lsy = scrollY();
        }

        function scrollY() {
          return window.pageYOffset || docElem.scrollTop;
        }

        init();

      })();
    </script>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>

{% comment %} Copyright {% endcomment %}
