---
layout: default
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}


    {% if site.github_editme_path %}

    <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>

    {% endif %}

   {{content}}

{% for page in site.data.tags[rflysim] %}
<div class="post-nav next-previous">
    {% if page.data.previous %}
    {% if page.previous.url %}
    {% if page.previous.name %}
    <a href="{{page.previous.url}}" class="wiki-previous"><span class="iconify" data-icon="mdi:chevron-double-right" data-rotate="180deg" style="font-size: 36px;"></span>&nbsp;{{page.previous.name}}</a>
    {% else %}
    <a href="{{page.previous.url}}" class="wiki-previous">&#8672;&nbsp;{{page.previous.subtitle}}</a>
    {% endif %}
    {% endif %}
    {% endif %}
  
    {% if page.data.next %}
    {% if page.next.url %}
    {% if page.next.name %}
    <a href="{{page.next.url}}" class="wiki-next">{{page.next.name}}&nbsp;<span class="iconify" data-icon="mdi:chevron-double-right" style="font-size: 36px;"></span></a>
    {% else %}
    <a href="{{page.next.url}}" class="wiki-next">&#8672;&nbsp;{{page.next.subtitle}}</a>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endfor %}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include commento.html %}

</div>

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}

{{site.data.alerts.hr_shaded}}

{% include footer.html %}

{% comment %} Copyright {% endcomment %}
