---
layout: default
---

<article class="post post-article" itemscope itemtype="https://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> {% if page.author %}<span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">/ {{ page.author }}</span></span>{% endif %}{% if page.tags != null %}/
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.tags %}
            {% if projectTags contains tag %}
            <a href="{{ "tag_" | append: tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
            {% endif %}
            {% endfor %}
            {% endif %}

        </p>


    </header>

    <div class="post-content" itemprop="articleBody">

        {% if page.summary %}
        <div class="summary">{{page.summary}}</div>
        {% endif %}


        {% if page.repos %}

        <a target="_blank" rel="noopener" href="https://github.com/{{page.repos}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i>&nbsp;view github</a>

        {% endif %}

        {{ content }}
    </div>
    <div class="toc">
      <a href="#">&lt;&gt;</a>
      {% include toc_scrollspy.html html=content %}
    </div>



</article>

{% for page in site.wiki %}  
{% if page.previous_post %}
{% if page.next_post %}   
<div class="post-nav next-previous">
    <a href="{{page.previous_post}}" class="wiki-previous"><span class="iconify" data-icon="mdi:chevron-double-right" data-rotate="180deg" style="font-size: 36px;"></span>&nbsp;{{page.previous_post.name}}</a>
  
    <a href="{{page.next_post}}" class="wiki-next">{{page.next_post.name}}&nbsp;<span class="iconify" data-icon="mdi:chevron-double-right" style="font-size: 36px;"></span></a>
</div>
{% endif %}
{% endif %}
{% endfor %}


{% include commento.html %}

{{site.data.alerts.hr_shaded}}

{% include footer.html %}

{% comment %} Copyright {% endcomment %}
