<xmp>* c9fa015 (HEAD -> edit, backup/edit, backup/HEAD)(2021-09-07) change width 18em from 20 for search-input in customstyles
* ab7496d(2021-09-07) add collections for yoga to topnav.yml
* 4ca4d6d(2021-09-07) add collections for drones and freelancers to topnav.yml
* 5496fff(2021-09-06) remove sort altogehter
* 0bde238(2021-09-06) remove  order ascending
* f76f4fc(2021-09-06) add order ascending prior to sort
* 8734269(2021-09-06) remove sort entirely to fix the build error
* 70eaa82(2021-09-06) reverse caused build error
* 6221d3f(2021-09-06) add reverse to sort by title
* f8ed85f(2021-09-06) sort by attribute titleto assign function
* 028af8e(2021-09-06) sort by attribute title
* e59fb07(2021-09-06) sort by attribute alt
* 6a5b62d(2021-09-06) add sort by filename to image_gallery
* 157b0cc(2021-09-06) make gallery images look larger on hover by 70 with scale1.3%
* 50af58a(2021-09-06) make gallery images look larger by 30 with scale1.3%
* e9476cb(2021-09-06) make gallery images look larger by 5%
* 6c8a7fa(2021-09-06) make gallery images look larger by 5%
* fa80246(2021-09-06) add artofvinyasa with glossary images to hatha.md
*   db2017b(2021-09-06) fix conflict in hatha.md from yoga branch
|\  
| * 046d9ee (backup/yoga)(2021-09-06) change box number for hatha to 3
| * 8bacb71(2021-09-06) checkout customstyles.css again
| * dd02e5a(2021-09-06) reset to prior to checkout for customstyles.css
| * 1b8e248(2021-09-06) usermap_yoga.html and images/yoga folder
| * cae7078(2021-09-06) checkout hatha.md
| * 70360e1(2021-09-06) checkout customstyle.css
| * fb76590(2021-09-06) checkout image_gallery.html
| * 0b7ed8a(2021-09-06) _config.yml
| * 4e360f4(2021-09-06) Add files via upload
* | 7048ef9(2021-09-06) add figure tag for images
* | e7096f6(2021-09-06) add figure tag for images
* | baca4ba(2021-09-06) switch hatha and bikram
* | 3ff8892(2021-09-06) add figure tag for images
* | 88648fb(2021-09-06) switch hatha and bikram
* |   48b0487(2021-09-06) Merge branch 'edit' of github.com:aiegoo/documentation into edit
|\ \  
| * | ceeeccc(2021-09-06) Update bikram.md
* | | 639beba(2021-09-06) switch hatha and bikram
|/ /  
* | cc42528(2021-09-06) switch hatha and bikram
* | 1e0200d(2021-09-06) Update hatha.md
* | 048db2f(2021-09-06) add excerpt to djis1000a2
* | 0ba5580(2021-09-06) add images for nazam, yuneec and s1000a2
* | a749826(2021-09-06) add image for xugong
* | 225475a(2021-09-06) add images for nazam, yuneec and s1000a2
* | ee9a299(2021-09-06) fix tables and add excerpt separator to drones files
* | efe0e16(2021-09-06) fix tables and add excerpt separator to drones files
* | 858f2cc(2021-09-06) fix tables and add excerpt separator to drones files
* | 549714f(2021-09-06) fix tables and add excerpt separator to drones files
* | 5352713(2021-09-06) fix tables and add excerpt separator to drones files
* | 9a56e19(2021-09-06) fix tables and add excerpt separator to drones files
* | 9db6445(2021-09-06) fix tables and add excerpt separator to drones files
* | 0d07bb3(2021-09-06) copy files from _drone/images to root images folder
* | 0e81188(2021-09-06) delete frontmatter.txt as it displays duplicate content
* | 2d9d331(2021-09-06) add excerpt_seprator frontmatter and in each file
* | b1ef4b9(2021-09-06) add show_excerpts to config.yml for drones
* | c51dc70(2021-09-06) add sort function to drones.html of layout
* | 6b5b920(2021-09-06) change sidebar to home_sidebar to drones.md
* | d363f3f(2021-09-06) add yoga and freelancers home to home_sidebar.yml
* | 55a9de4(2021-09-06) Update px4vision.md
* | 846e595(2021-09-06) Update px4vision.md
* | fb73268(2021-09-06) Update px4vision.md
* | 846e742(2021-09-06) Update README.md
* | 5bec5d8(2021-09-06) Add files via upload
* | eca06a7(2021-09-06) Create px4vision.md
* | a05c9d8(2021-09-06) Add files via upload
* | 3a000ef(2021-09-05) add vinyasaana.pdf
* | 219dd7f(2021-09-05) add artvinyasa.pdf
* | 602f720(2021-09-05) add hotyoga.pdf
* | 3bf860f(2021-09-05) add hathaadvanced.pdf
* | b67f521(2021-09-05) add aerialyoga.pdf
* | 6fab41b(2021-09-05) Merge branch 'yoga' into edit
|\| 
| * be1bedc (yoga)(2021-09-05) change preview link and remove pf1
| * a9e33a6(2021-09-05) change feedback to yoga home link
| * d5d5bd5(2021-09-05) add sidebar to yoga.html
| * 746cb4c(2021-09-05) add sidebar to yoga.html
| * 116386d(2021-09-05) change other to other_sidebar.yml
| * 56e4bd5(2021-09-05) change otehr to other_sidebar to yoga files and config.yml
| * a542bfc(2021-09-05) replace weekly focus with yoga home and its html page
| * 37e3453(2021-09-05) add strip_html along with trunacatewords: 50
| * f853d2e(2021-09-05) add sidebar of other to yoga in config.yml
| * 53401d3(2021-09-05) add sidebar of other to yoga files
| * 1dd6d40(2021-09-05) replace category with overvoew for first box
| * 700d678(2021-09-05) make other sidebar for yoga collection
| * 50e2d88(2021-09-05) add date to yogam.md
| * 4e6f49d(2021-09-05) add order_number to yogam.md
| * b7d0690(2021-09-05) add order_number to yogam.html
| * d0d4bcd(2021-09-05) add order_number to yogam.html
| * 3e0b135(2021-09-05) add order: to yoga collection in config.yml
| * 7d63b0f(2021-09-05) fix typo in usermpa_yoga.html
| * 2feb216(2021-09-05) add files to yoga usermap complex
| * 2880429(2021-09-05) add files to yoga usermap complex
| * 0862712(2021-09-05) add files to yoga usermap complex
| * 762c27a(2021-09-05) add excerpt_separator to bikram.md frontmatter
| * 6f84a1e(2021-09-05) add excerpt_separator to bikram.md
| * cd4b33b(2021-09-05) change content to excerptto yoga.md
| *   4e41dbc(2021-09-05) Merge branch 'yoga' of github.com:aiegoo/matlab into yoga
| |\  
| | * 9a467b3(2021-09-05) Update yoga_overview.md
| | * ca03995(2021-09-05) Fix typo
| | * 9608539(2021-09-05) Update yoga.html
| | * cbfe217(2021-09-05) Update yoga.md
| * | 51bc1e4(2021-09-05) change content to excerpt
| |/  
| * 038c9c9(2021-09-05) add truncatewords: 50 in addtion to yoga.content for yoga.html
| * 1fb7e5c(2021-09-05) add truncatewords: 50 in addtion to yoga.content for yoga.html
| * d49a01b(2021-09-05) change yoga.content to yoga.excerpt
| * f6b2d82(2021-09-05) add show_excerpt to config.yml and excerpt_separator to the overview.md
| * 14984a5(2021-09-05) revert to col-md-6 from 9
| * 80a2586(2021-09-05) add sidebar: false to yoga.md
| * 1bc1c49(2021-09-05) add sidebar: false to config.yml
| * ab57195(2021-09-05) add yoga_overview.md with complex_map frontmatter
| * b12b216(2021-09-05) add yoga_overview.md with complex_map frontmatter
| * 1a887a1(2021-09-05) add yoga tag and fix baseurl to documenation
| * dd0c7fd(2021-09-05) add yoga.md to pages/ with frontmatter
| * a2fc158(2021-09-05) bikram and hatha to pages/yoga folder
| * 2cc7cc5(2021-09-05) add more values to yoga scope
| * 3073414(2021-09-05) fix config.yml for yoga
| * 1b80080(2021-09-05) fix config.yml for yoga
| * 3b937d7(2021-09-05) remove yoga_ prefix from file name
| * 4a576fd(2021-09-05) replace yoga with plural for loop function
| * 2697429(2021-09-05) edit config.yml for yoga uri
| * 8efd2b2(2021-09-05) add hatah and bikram page
|/  
* 9ad3d0e(2021-09-05) add yoga uri and files
* 671d002(2021-09-05) Update mydoc_nextcloud.md
* 28b648a(2021-09-05) Update mydoc_nextcloud.md
* ce30efc(2021-09-05) Create mydoc_nextcloud.md
* edba0bb(2021-09-03) python 3 books for ms and webscraping automation
* 5800fb6(2021-09-03) add viewport to modal-dialog as 45vh
* f342047(2021-09-03) add viewport to modal-dialog as 40vh
* bbf3c4f(2021-09-03) add viewport to modal-dialog as 40vh
* d0dec70(2021-09-03) comment out parse_block_html true to fix series syntax not working issue
* 7c2d642(2021-09-03) trying to fix include not rendering right for starthere.md
*   36048fb(2021-09-03) Merge branch 'edit' of github.com:aiegoo/documentation into edit
|\  
| * 250123d(2021-09-03) Update mydoc_lightup.md
| * fd57409(2021-09-02) Update mydoc_lightup.md
| * fea0223(2021-09-02) Update mydoc_lightup.md
| * 35082f0(2021-09-02) contributions
| * 316ea9d(2021-09-02) reorder table as two cloumn from four
| * 447ede4(2021-09-02) reorder table as two cloumn from four
| * 11c7d38(2021-09-02) add width 250 to iamge column
| * 98a891b(2021-09-02) add kramdown: parse_block_html: true to config-yml
| * 7fe76a7(2021-09-02) add width 250 to iamge column
| * 26d971e(2021-09-02) add width 250 to iamge column
| * cf2ea1f(2021-09-02) add width 250 to iamge column
| * e8c9451(2021-09-02) add the heatmap in a table
| * f1602b1(2021-09-02) add the heatmap in a table
| * 9ac1003(2021-09-02) add the heatmap in a table
| * 19c6195(2021-09-02) add the heatmap in a table
| * 60f32ad(2021-09-02) Update mydoc_webhook.md
| * 9724caf(2021-09-02) add olora-pawan to mydoc_lightup.md
| * dc26255(2021-09-02) Add files via upload
| * 19907ae(2021-09-02) add olora-pawan screen capture for 159 server
| * 864e9b2(2021-09-02) add jekyll contents to gittool.md
| * 41d0e3c(2021-09-02) add gittoolmd with book contents
* | 422d4d1(2021-09-03) totiralApp for chapter 2 matlab
|/  
* cde706d(2021-09-01) add appTutorial.mlapp to matalb2
* dc1c8a5(2021-09-01) comment out youtube html tag in rflyintroduciton
* 7fe41e4(2021-09-01) replace Rflysim.png with usercontent
* 2ad39b4(2021-09-01) Update books_rflyintroduction.md
* 5509b62(2021-09-01) add nomarkdown for youtube tag
* 192952b(2021-09-01) change title for rflyintroduction
* 875ab6b(2021-09-01) matlab for dummies chapter codes
* 7bde141(2021-09-01) 60em for div#toc.toc for width
* ec91c3f(2021-09-01) change rflyintroduction summary
* f1089a5(2021-09-01) add tips to index.md and link to  matlab dummies
* ed8350a(2021-09-01) rflyothers with tutorial and reference guide template
* e947ab9(2021-09-01) fix permalink for rflycode rflyothers rflyhandbook.md
* d7adb90(2021-09-01) move the pdf code links to the end of the rflyadvanced page
*   b5f3ba8(2021-09-01) Merge branch 'edit' of github.com:aiegoo/documentation into edit
|\  
| * 02c37bf(2021-09-01) Update books_rflycommercial.md
* | 597ffa7(2021-09-01) link to source code and pdfs for toc
|/  
* 384faf8(2021-09-01) add getting started to rflyintroduction.md
* 1c70709(2021-09-01) fix sourcecode repo link to the repo home
* 18e7b94(2021-09-01) fix source code download link
* c522b2b(2021-09-01) fix source code download link
* 504b06d(2021-09-01) fix source code download link
* b6920d5(2021-09-01) fix table code
* 9d694f2(2021-09-01) fix table code
* 094e4dc(2021-09-01) add source code for exercises
* ec278bd(2021-09-01) fix table code
* a7b49a9(2021-09-01) add source code for exercises
* ed06f8f(2021-09-01) add other 12 lessons and files
* be6387e(2021-09-01) place advanced lessons in a table
* ac471b4(2021-09-01) wrap up rflyadvanced
* 55f52a7(2021-09-01) 3d sensor customization
* 87c83ac(2021-09-01) ch3 other types of vehicles
* a031042(2021-09-01) add commercial devworks pdf files and images
* 9f3855a(2021-08-31) add rflycommercial.md
* 412250c(2021-08-31) add rflycommercial.md
* bdde285(2021-08-31) change opacity 1 to userMap customstyle.css
* 1927ffe(2021-08-31) fix frontmatter for rflycommercial.html
* c32fb84(2021-08-31) fix box2 advanced commercial link in namesake
* 9511f49(2021-08-31) add footnote to ch6 exmaple
* 7eb1edb(2021-08-31) add images for ch6 exmaple
* c96bd26(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* b95603c(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* 68c4783(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* a4c12cd(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* 24b9894(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* 8ac7424(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* 8625a3e(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* 2f0aeb7(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* d6ebb63(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* e324e16(2021-08-31) ch5 hardware ch6 example to rflydevelop.md
* 705f17d(2021-08-31) ch4 hardway system to rflydevelop.md
* f64d01c(2021-08-31) ch3 psp toolbox for rflydevelop
* 5a0ca3b(2021-08-31) ch3 psp toolbox for rflydevelop
* 4696107(2021-08-31) experimental process for rflydevelop
* 75096f2(2021-08-31) toc organized for rflysetup
* 0566f3e(2021-08-31) toc organized for rflysetup
* 39a2f18(2021-08-31) add rc setting
* 57cacaf(2021-08-31) add rc setting
* 0b0191e(2021-08-31) add personal installation details
* f042ea2(2021-08-31) add personal installation details
* 7ed0542(2021-08-31) add personal installation details
* 8fdc04d(2021-08-31) table column length
* c7b7c80(2021-08-31) table column length
* f35844d(2021-08-31) reorder toolbox list in table
* 682d1f1(2021-08-31) reorder toolbox list in table
* 1e145aa(2021-08-31) reorder toolbox list in table
* 344ed71(2021-08-31) reorder toolbox list in table
* 413d1d8(2021-08-31) fix chrome issue
* da48f02(2021-08-31) kramdown table code for firefox but not for chrome
* 8478e8d(2021-08-31) reorder toolbox list in table
* 9dded19(2021-08-31) reorder toolbox list in table
* 9f3349d(2021-08-31) reorder toolbox list in table
* 4ab4c49(2021-08-31) reorder toolbox list in table
* 1ccb1d0(2021-08-31) reorder toolbox list in table
* a70b480(2021-08-31) reorder toolbox list in table
* f593a5f(2021-08-31) reorder toolbox list in table
* 49bac5a(2021-08-31) reorder toolbox list in table
* e50df36(2021-08-31) reorder toolbox list in table
* 193f85e(2021-08-31) reorder toolbox list in table
* 70fc696(2021-08-31) reorder toolbox list in table
* 8de7fe8(2021-08-31) reorder toolbox list in table
* 22cc7ce(2021-08-31) reorder toolbox list in table
* 34edc5c(2021-08-31) reorder toolbox list in table
* 08938a5(2021-08-31) {::nomarkdown}{:/} was added to html inside markdown table
* 4eb8e21(2021-08-31) remove table tag for the installed and required toolbox list
* 7ba28b9(2021-08-31) fix table code
* ef5ee42(2021-08-31) fix table code
* 3f1b862(2021-08-31) fix table code
* bf1b151(2021-08-31) fix table code
* d944c63(2021-08-31) fix table code
* adc8dc8(2021-08-31) fix table code
* e534823(2021-08-31) fix table code
* f9886e6(2021-08-31) fix table code
* 6969c2e(2021-08-31) fix table code
* e91df73(2021-08-31) fix table code
* e33a9c0(2021-08-31) fix table code
* 6cf33f3(2021-08-31) fix table code
* c90f8a6(2021-08-31) fix table code
* d8711cf(2021-08-31) add required and installed toolboxes
* 8c30d4f(2021-08-31) add required and installed toolboxes
| * 417c539 (backup/navarrow)(2021-08-31) add navarrow css to customstyle and tags to default.html
|/  
* a43f679(2021-08-31) comment out overflow-y auto on div#toc ul
* 68585ff(2021-08-31) change ml 21 from 43 and fs to 15 from 18 SeriesContext dropdown
* bca95ce(2021-08-31) Update books_rflysetup.md
* 536baf1(2021-08-31) Update books_rflysetup.md
* b09203e(2021-08-31) Update books_rflysetup.md
*   a82454a(2021-08-31) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\  
| * 1d6b33f(2021-08-31) Update books_rflysetup.md
| * 4d7bf29(2021-08-31) Update books_rflysetup.md
* | 244e14a(2021-08-31) add ch2 images
|/  
* cc51cc7(2021-08-31) add ch5 image files rflysim
* 2bcae45(2021-08-31) add ch4 image files rflysim
* c29c11d(2021-08-31) add ch3 image files rflysim
* e4764be(2021-08-30) add body background for gradient
* 4e96e03(2021-08-30) Update rfly_starthere.md
* a9ef73a(2021-08-30) Update rfly_starthere.md
* fa253ca(2021-08-30) Update rfly_starthere.md
* a9445f3(2021-08-30) add png again
*   00095c8(2021-08-30) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\  
| * 9243068(2021-08-30) Update rfly_starthere.md
| * 8579924(2021-08-30) Update books_rflyintroduction.md
| * 283f6dc(2021-08-30) Update books_rflyintroduction.md
| * 272a344(2021-08-30) Update books_rflyintroduction.md
* | e27cf98(2021-08-30) add flightgear.png
|/  
* e39abcc(2021-08-30) rfly images for rfly complexmap
* 9ca86e7(2021-08-30) Update books_rflysetup.md
* d2e51e2(2021-08-30) Update books_rflyintroduction.md
* ad6f372(2021-08-30) toc margin right to -15px to make a room for 2nd line
* 02319a9(2021-08-30) Update mydoc_docker.md
* fc232a8(2021-08-30) Update books_rflyintroduction.md
* 330ee2a(2021-08-30) Update books_rflyintroduction.md
* 9c0d67c(2021-08-30) complexmap images for rflyintroduction
* d04e3fe(2021-08-30) Update books_rflyintroduction.md
* 5dd35fd(2021-08-30) Update books_rflyintroduction.md
* 95d6147(2021-08-30) Update books_rflyintroduction.md
* feac032(2021-08-30) Update books_rflyintroduction.md
* e98e590(2021-08-30) Update books_rflyintroduction.md
*   ae9e18a(2021-08-30) Merge branch 'edit' of github.com:aiegoo/documentation into edit
|\  
| * f328091(2021-08-30) add btn-lg:hover to same color of userMap a:hover light green
* | 3cd22f0(2021-08-30) add btn-lg:hover to same color of userMap a:hover light green
|/  
* f1f87a2(2021-08-30) color 444 to dimm the landing page for the rfly
*   fdc161c(2021-08-30) Merge branch 'edit' of github.com:aiegoo/documentation into edit
|\  
| * ce0202c(2021-08-30) add rfly_starthere.md as a landing page for the rfly complex map
* | e2737a9(2021-08-30) add rfly_starthere.md as a landing page for the rfly complex map
|/  
*   a9c0af1(2021-08-30) Merge branch 'edit' of github.com:aiegoo/documentation into edit
|\  
| * 0bc930f(2021-08-30) Update rfly_starthere.md
* | 680c24f(2021-08-30) add rfly complex map files
|/  
* a9c9c74(2021-08-30) add flightgear manual and nasal doc for writing codes
*   9949e5b(2021-08-30) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\  
| * 447561a(2021-08-30) Update rfly_starthere.md
| * 1cd4ba9(2021-08-30) rfly course goals in 10 steps.
| * 98a784b(2021-08-30) add rfly exercise code to pdf/gcs/rfly_code
| * 572d68e(2021-08-30) Update rfly_starthere.md
| * 5ed1d19(2021-08-29) resize topnave.html for tonyillust from 13% to 15%
| * 9633e77(2021-08-29) Update rfly_starthere.md
* | 68c1889(2021-08-29) add a sample kramdown table
|/  
* 47aa032(2021-08-29) add a sample kramdown table
* af36daf(2021-08-29) convert standard markdown table to kramdown format
* c243cf9(2021-08-29) Update rfly_starthere.md
*   7258a31(2021-08-29) fix link issues
|\  
| * 5a09cb7(2021-08-29) Update rfly_starthere.md
* | f7f91c2(2021-08-29) fix image link
|/  
* 085b8cd(2021-08-29) add px4.jpg for connection image
* de29af3(2021-08-29) px4 connection and pic
* e686f38(2021-08-29) add install log file saved in gist
* 4a5f4f0(2021-08-29) add install log file saved in gist
* 16ded88(2021-08-29) add px4psp install to shtarthere.md
* b2fb45c(2021-08-29) sytle toc with fontsize 75% from 70% and add font-size to ul li to 1em
* e5a4b94(2021-08-29) conflict resolved for gittool.md
* 2bc376a(2021-08-29) add fixed top to media max-width 356 for galaxy fold
* 8ae07ae(2021-08-29) add fixed top to media max-width 356 for galaxy fold
* 9672005(2021-08-29) revert to last working change before reset in customstyle and topnav
* a566c95(2021-08-29) move navbar-brand to a new div wrapper
* d384a9f(2021-08-29) resize projectTitle img to 150px from 200
* 1faa28b(2021-08-28) adjust gist gist-data at media
* c2be44c(2021-08-28) adjust gist gist-data at media
* f7d786d(2021-08-28) adjust gist gist-data at media
* c1f3e30(2021-08-28) Update customstyles.css
* 34703de(2021-08-28) change tonyIllus to be 200px and 13% in topnav.html
* 5752a26(2021-08-28) 1.1em from 9px for media 1200 projectTitle
* 4bda3ec(2021-08-28) 2.1em from 9px for media 1200 projectTitle
* 12b6de1(2021-08-28) change tonyIllus to be 200px and 16% in topnav.html
* 7fe4667(2021-08-28) 1.1em from 9px for media 1200 projectTitle
*   1e3d600(2021-08-28) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\  
| * 5b8d183(2021-08-28) Update rfly_starthere.md
| * 48bf490(2021-08-28) Update rfly_starthere.md
* | 8651c20(2021-08-28) change tonyIllus to be 200px and 20% in topnav.html
|/  
* e26d5e0(2021-08-28) remove max-height 12em to div#toc ul li customstyle
* b72bd4a(2021-08-28) add max-height 12em to div#toc ul li customstyle
* 7adac2a(2021-08-27) fix wordwrap for gittool.md
* 1807dc2(2021-08-27) col-md-6 h1 margin top 1.3em from 3.3
*   dd169b5(2021-08-27) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\  
| * 7c396d1(2021-08-27) Update mydoc_bootstrap.md
| * cb8b126(2021-08-27) Update mydoc_bootstrap.md
| * 67fb692(2021-08-27) Update mydoc_bootstrap.md
| * b5a4da6(2021-08-27) update version to 1.1 from 1.0 in mydoc_sidebar.yml
| * a816c50(2021-08-27) add gist-meta::after url for my personal portfolio
* | 2380621(2021-08-27) gittool for gist, practice files with sinatra webserver
|/  
* da8107f(2021-08-27) add gist to customstyle
* 75ff09b(2021-08-27) add gist to customstyle
* 6387bc3(2021-08-27) add gist to customstyle
* 749ef0e(2021-08-27) add gist to bootstrap.md for scrollspy index.html
* c37b612(2021-08-27) remove github span iconfiy from bootstrap.md
* e1d8ec1(2021-08-27) animate scroll jquery to bootstrap.md
* 05a0539(2021-08-27) change 3.3em to 4.3em for scrolltop
| * 875f771 (backup/toc)(2021-08-27) revert to banner.html script in default.html
| * 4d259ba (toc)(2021-08-27) replace tree.md from toc branch after wrapping scrolltop and adding banner codes
| * ca5f369(2021-08-27) change calc 3.3 to 4.3em
| * cc39279(2021-08-27) add same script to _layout/drone.html for demo
| * 4dd5d46(2021-08-26) remove include function for tg-sb-contents
| * c281631(2021-08-26) remove onload init from body tag in default.html, toc branch
| *   77c4d40(2021-08-26) Merge branch 'edit' into toc
| |\  
| |/  
|/|   
* | 9662576(2021-08-26) move scrolltop button to the right bottom corner
* | d761c61(2021-08-26) fix cal to calc for #top left value
* | 141d3cc(2021-08-26) fix cal to calc for #top left value
* | 40a7c6a(2021-08-26) 50px to 3em and left 48.5vw
* | 5440d4a(2021-08-26) remove style for toc from _layout/post.html
* | 986d15d(2021-08-26) edit 2021-07-29 fine print .. to fix crowding toc title
* | 6a08a75(2021-08-26) edit 2021-07-29 .. to fix crowding toc title
* | 01a0702(2021-08-26) edit 2021-08-01 .. to fix crowding toc title
* | 63a2aca(2021-08-26)  cal(48vw - 24px) to scrolltop width
* | 4b00b30(2021-08-26) edit theme-green and bootstrapmin for navbar with width 100vw
* | 3d5c298(2021-08-26) picked up the scrolltop html tags for the default.html
* | b1982a3(2021-08-26) update customstyle with the latest changes I made before merging
* | d4a4d70(2021-08-26) merge currently changed files with the same files in scrollspy branch
* | c804475(2021-08-26) for sidebar col-xs-3 col-sm-3
* | 8be7bfd(2021-08-26) remove userMap css inside @media and row-fluid
* | 9083232(2021-08-26) add opacity 0 div wrapper to toc.html
* | 5cf7042(2021-08-26) col-md-9 to userMap of matlab.html
* | c28ce73(2021-08-26) change span3 with col-sm-3
* | bee27d5(2021-08-26) add box class to media 1000 and 1200
* | 9235385(2021-08-26) change col-md-6 to md-9
* | c03e234(2021-08-26) add row-fluid and span3 to sidebar
* | a8ea4f7(2021-08-26) add row-fluid and span3 to sidebar tag
* | 38dac55(2021-08-26) change nav navbar values to fix navbar, search box
* |   c2aa614(2021-08-26) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\ \  
| * | ceb7a9a(2021-08-26) comment out userMap overflow x y
| * | 8a202c6(2021-08-26) change container to container-fluid
* | | 13e55b8(2021-08-26) post-main-title for margin top 50px
* | | 7f8fb98(2021-08-26) post-main-title for margin top 50px
* | | 20a3808(2021-08-26) customized style for post-title-main margin top to be 50px
* | | 7969361(2021-08-26) customized style for post-title-main margin top to be 45px
* | | 7be85db(2021-08-26) customized style for post-title-main margin top to be 45px
* | | 1bd74b8(2021-08-26) change dropdown-toggle li a for margin left -5 from 20px
|/ /  
* | ff811de(2021-08-25) top at  media 767 45% and chagne topnav title to Matlab Docs
* | 7521d8e(2021-08-25) Update mydoc_bootstrap.md
* | f5e8897(2021-08-25) Update mydoc_bootstrap.md
* | ef35ace(2021-08-25) Add files via upload
* | e6211fa(2021-08-25) Update customstyles.css
* | dd36751(2021-08-25) Update customstyles.css
* | ce062aa(2021-08-25) Update customstyles.css
* | 7900792(2021-08-25) Update customstyles.css
* | a144c61(2021-08-25) Update customstyles.css
* | 527475c(2021-08-25) Update customstyles.css
* | 6ca6738(2021-08-25) Update customstyles.css
* | ecfb5f4(2021-08-25) Update customstyles.css
* | ce98237(2021-08-25) Update customstyles.css
* | a4a0c9d(2021-08-25) Update customstyles.css
* | 78c5d31(2021-08-25) Update customstyles.css
* | 0c390c6(2021-08-25) Update customstyles.css
* | 4ce6bb7(2021-08-25) finetune the scrolltop button with left 23%, width 45px height 0, line-height 26px
* | 467f1f6(2021-08-25) Update customstyles.css
* | 564c56b(2021-08-25) Update customstyles.css
* | 75abf18(2021-08-25) left 70% for scrolltop of max-width 767px
* | c6d1132(2021-08-25) left 20% for scrolltop of max-width 767px
* | 52bb5dd(2021-08-25) top 0 for scrolltop of max-width 767px
* | bea6b51(2021-08-25) top 0 for scrolltop of max-width 767px
* | 6da78f1(2021-08-25) add iconfiy cpu-24 to tony.html
* | b96f5a9(2021-08-25) add iconfiy cpu-24 to tony.html
* | af04a41(2021-08-25) add iconfiy cpu-24 to tony.html
* | 5ec9c5d(2021-08-25) move iconify script to head.html from matlab.html
* | 5fc245b(2021-08-25) edit button color and opacity for scroll to top to button tag
* | ffa9f90(2021-08-25) move iconify chevrons to matlab.html from default.html
* | 6b309f7(2021-08-25) edit button color and opacity for scroll to top to button tag
* | 60012a0(2021-08-25) edit button color and opacity for scroll to top to button tag
* | 9b25ded(2021-08-25) edit button color and opacity for scroll to top to button tag
* | 144fd75(2021-08-25) add github iconify  for scroll to top to button tag
* | e3e03aa(2021-08-25) add aria-lable for scroll to top to button tag
* | 7e5b4c4(2021-08-25) add svg code for chevron arrow
* |   689a1d0(2021-08-25) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\ \  
| * | 55a4db3(2021-08-24) Update yuneec.md
| * | de872ec(2021-08-24) Update skyhero.md
| * | 5340121(2021-08-24) Update mydoc_bebop.md
| * | d4c8c6f(2021-08-24) Update bebop_parrot.md
| * | 5c92560(2021-08-24) Update quad.md
| * | 253001d(2021-08-24) Update nazam.md
| * | c17ba1a(2021-08-24) Update cube.md
| * | c2da12f(2021-08-24) Update bebop_parrot.md
| * | 8fec015(2021-08-24) Update dalrc.md
| * | ce6f8c6(2021-08-24) Update mydoc_webhook.md
* | | 41eced3(2021-08-25) add scroll top tag css and script to default.html and customstyle
|/ /  
* | 00f6fd5(2021-08-24) working on gittool.md
* | 5072249(2021-08-24) Update mydoc_bootstrap.md
* | abb75a2(2021-08-24) Update books_gitlab.md
* | 2d12941(2021-08-24) Update books_gitteam.md
* | b39b06c(2021-08-24) Update books_gittool.md
* | 633efe9(2021-08-24) add contents of the book to gittool.md
* | 04dc595(2021-08-24) Update books_gittool.md
* | 0aaf808(2021-08-24) add simple_map true to gitteam.md
* | f39f3f3(2021-08-24) add complexusermap for books-git of gitteam, gittool and gitlab
* | a94bfbd(2021-08-24) add a pdf buiding tools with github api
* | e0eed1a(2021-08-24) merge customstyle css from scrollspy
| * aed6918(2021-08-20) merge heorhi files from imagebox branch
| | *   1ebc75c (refs/stash)(2021-08-24) WIP on edit: 65e4f04 merge toc lineheight from scrollspy branch
| | |\  
| | | * 2d61671(2021-08-24) index on edit: 65e4f04 merge toc lineheight from scrollspy branch
| | |/  
| | * 65e4f04(2021-08-24) merge toc lineheight from scrollspy branch
| |/| 
|/| | 
* | | 633bf68(2021-08-23) Update mydoc_pipeline.md
* | | d6578e2(2021-08-23) Update books_robotswithros.md
* | | fbf1610(2021-08-23) Update books_robotswithros.md
* | | a0ea35f(2021-08-23) Update books_robotswithros.md
* | | abd076d(2021-08-23) Update books_robotswithros.md
* | | f9fd258(2021-08-23) add box-shadow 2px 2px 4px #473e3e to .box customstyle
* | | d7084f4(2021-08-23) add root/drones as usermap 5 for drones index file to _layout/drones.html
* | | a76de12(2021-08-23) add root/drones as usermap 5 for drones index file
* | | 7db9ff2(2021-08-23) userMap a:hover background-color and color
* | | 0fc156f(2021-08-23) userMap a:hover background-color and color
* | | 8a16324(2021-08-23) userMap a:hover background-color and color
* | |   9488096(2021-08-23) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\ \ \  
| * | | 34973a7(2021-08-23) fine tune toc underline
| * | | 2a61e17(2021-08-23) fine tune toc underline
| * | | 1321251(2021-08-23) fine tune toc underline
| * | | 104d302(2021-08-23) adjust text-underline-offset to 1em
* | | | 8f70581(2021-08-23) userMap a:hover background-color and color
|/ / /  
* | | 46f8363(2021-08-23) fine tune underline effects with text-underline-offset padding-left
* | | 1242ce4(2021-08-23) replace - with _ for the toc li: before
* | | 5f534cf(2021-08-23) squash cherrypick based on scrollspy for toc underline text effects
| | | * 91cad0a (backup/scrollspy, scrollspy)(2021-08-24) change underline transition transform to 500ms from 300ms for toc
| | | * e9be812(2021-08-24) change underline height to 1.2em from 0.5emb for toc
| | | * 93ff8eb(2021-08-24) change underline color to #ff69b46b for toc
| | | * df9c18a(2021-08-24) margin adjustment for toc ul li ul li for contnent -
| | |/  
| | * 094ce2f(2021-08-24) change line-height to 59% toc in customstyle
| | * 6972423(2021-08-24) change line-height to 59% toc in customstyle
| | * 92016b3(2021-08-24) tidying up scrolltop codes in drones.html
| | * a216b05(2021-08-23) add scrolltop tags,css and script to drones.html
| | * 13926bb(2021-08-23) add scrolltop tag, css and js to _includes/custom/scrolltop.html
| | * 0f5f316(2021-08-23) add scrolltop tag and css to _includes/custom
| | * 3a8bc61 (backup/cherrypick)(2021-08-23) add scale from center effect on toc a elements on hover and focus
| | * 28f0064(2021-08-23) add scale from center effect on toc a elements on hover and focus
| | * 5e683d7(2021-08-23) add scale from center effect on toc a elements on hover and focus
| | * ab34692(2021-08-23) add scale from center effect on toc a elements on hover and focus
| | * d315e32(2021-08-23) add scale from center effect on toc a elements on hover and focus
| | * 0be1956(2021-08-23) add udnerline effect script for css in customstyle for toc menu
| | * bf73c8b(2021-08-23) add udnerline effect script for css in customstyle for toc menu
| | * 00908aa(2021-08-23) change margin-top 35px from 25px in toc.html
| | * 55ff4d9(2021-08-23) add div#toc.toc with fontsize and lineheight
| | * 0370fc2(2021-08-23) add div#toc.toc with fontsize and lineheight
| | * 90162b8(2021-08-23) remove font-size of div#toc ul li:focus
| | * f9ab6b5(2021-08-23) #mysidebar .nav ul line-height: 130% in customstyle
| | * c435786(2021-08-23) #mysidebar .nav ul line-height: 130% in customstyle
| | * f7ab4a6(2021-08-22) change toc to true in both news and news_archive.html
| | * feea026(2021-08-22) add toc_scrollspy.html and change include in post.html
| | * 75aa58c(2021-08-22) add scrollspy script and css to post.html
| | * e3b86f5(2021-08-22) add scrollspy tags to post.html
| | * f4ff889(2021-08-22) hover on div#toc a to have font-size 0.8rem and transition all ease-in
| | * 730fa4e(2021-08-22) hover on div#toc a to have font-size 0.8rem and transition all ease-in
| | * 67d0262(2021-08-22) add scrollspy script to drones.html and div#toc >ul>li>a.active css in customstyle
| |/  
|/|   
* | 7ece70a(2021-08-22) toc top  25px from 20px in customstyle
* | ce65dbc(2021-08-22) reduce div#toc line-height to 70%
* | 1c2a67f(2021-08-22) edit toc.html for headers to exclude h4
* | bf0855c(2021-08-22) shorten yuneec.md
* | efb4778(2021-08-22) shorten vtol.md
* | 0d168c0(2021-08-22) shorten bebop.md
* | 7be27a2 (collections)(2021-08-22) edit col-md-6 to 9 in drones.html
* | 339f1e2(2021-08-22) add preview mardkown codes to each files in _drones
* | 1abeb69(2021-08-22) add preiview link to github to drones.md
* | b3555d7(2021-08-22) add herb icon to drones.md
* | 3985419(2021-08-22) add frontmatters to each drones md files
* | 1792cb6(2021-08-22) Update drones.md
* | 2f49b63(2021-08-22) copy drone files from aiegoo/portfolio/wiki
* |   784d13f(2021-08-22) Merge branch 'collections' into edit
|\ \  
| * | 1d260a4 (backup/collections)(2021-08-22) edit frontmatter of drones files
| * | f669359(2021-08-22) create files for yuneec and bebop-parrot
| * | 6323343(2021-08-22) set up drones in config.yml
* | |   804e6ed(2021-08-22) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\ \ \  
| |/ /  
|/| |   
| * |   ac5b87d(2021-08-22) Merge branch 'edit' of github.com:aiegoo/matlab into edit
| |\ \  
| * | | 79207d1(2021-08-22) add _freelancers from collections
| * | | b89f088(2021-08-22) to merge from collections
* | | | 329943c (cherrypick)(2021-08-22) fix base url in config.yml
* | | | 010d6ed(2021-08-22) update tony.md from aiegoo/portfolio/index.md
* | | | 2dec058(2021-08-22) customize freelancers files
* | | | 069d47c(2021-08-22) edit script freelancer.name to freelancer.title
* | | | 31eb530(2021-08-22) toc true to freelancers.md to test the script
* | | | a8aad02(2021-08-22) return _freelancers folder to site root
* | | | 3fc83e4(2021-08-22) add placeholder to test freelancers.html
* | | | c8650af(2021-08-22) add iteration script to freelancers.html
* | | | 1640d39(2021-08-22) reorganize tags in freelancers.html
* | | | 18d4900(2021-08-22) work on permalink for freelancers
* | | | 50b9eb5(2021-08-22) add scope/path of /freelancers/ in config.yml
* | | | 7c85c5b(2021-08-22) change permaline from freelancers/:name to freelancers/
* | | | 2aac056(2021-08-22) add variable freelancers in freelancers.md
* | | | be092f6(2021-08-22) add prefix /freelancers/ to permalink
* | | | 7722e48(2021-08-21) add placeholder in freelancers.md
* | | | 018ed0c(2021-08-21) add placeholder in freelancers.md
* | | | 1c581be(2021-08-21) add placeholder in freelancers.md
* | | | 1027307(2021-08-21) remove iteration script from freelancers.html and add it to freelancers.md
* | | | 915a602(2021-08-21) change plurals to singular of freelancer in freelancer.html
* | | | fa6c215(2021-08-21) add some more contents and permalink to tony.md
* | | | ddb25ff(2021-08-21) add placeholder in freelancers.md
* | | | b5f8327(2021-08-21) fix link in config.yml and add frontmatter to freelancers.md
* | | | 4db2a4a(2021-08-21) add default in config.yml for freelancers
* | | | e729ec3(2021-08-21) add iteration to freelancers.md
* | | | 4ed3117(2021-08-21) restructure freelancers collection files
* | | | 4f78033(2021-08-21) add freelancers.html to /pages/
* | | | 0b19b5b(2021-08-21) fix contents to freelancers.html
* | | | 99f0f0c(2021-08-21) fix contents to freelancer.html
* | | | c79d3c4(2021-08-21) fix contents to freelancer.html
* | | | 1e2c8f1(2021-08-21) fix links in config.yml and freelancer.md
* | | | bfd4d3a(2021-08-21) add frontmatter to freelancer.html
* | | | 0623ac8(2021-08-21) change freelancer to freelancers in freelancer collection script
* | | | 57c7c39(2021-08-21) fix links in config.yml and freelancer.md
* | | | 5a26f67(2021-08-21) fix links in config.yml and freelancer.md
* | | | 020f18f(2021-08-21) cp freelancers.html from _layout to the root
* | | | 4f70719(2021-08-21) add tony.md to _freelancers
* | | | b55c05a(2021-08-21) freelancers.md to the root and add permalink param to config.yml
* | | | 4b3452d(2021-08-21) add cartoon image to index.md
* | | | 9f0a3b2(2021-08-21) still working on the template
* | | | 53b36fe(2021-08-21) add default.html as template for the freelancers
* | | | b459b5c(2021-08-21) edit _config.yml for freelancer collections and add faheem.md
* | | | 151d188(2021-08-21) add collections for freelancers and created faheem.md
| |/ /  
|/| |   
* | | 9c70bea(2021-08-21) merge robotscolorissue branch for sidebasr visited color issue:
|/ /  
| | * 7e06595 (backup/robotscolorissue)(2021-08-21) limit the visited color only to third level
| | * 4a8c48c(2021-08-21) add ul li to .nav li a to make visited applicable only to third level
| | * f424f78(2021-08-21) add important to a:visited for the sidebar menu color issue
| | * b4b2acd(2021-08-21) nav li a color: #333 important to fix sidebar color issue with robotswithros.md
| |/  
|/|   
* | 607c073(2021-08-20) reorder of contents to robotswithros
* | c349364(2021-08-20) add contents list to robotswithros.md
* | ee8f086(2021-08-19) remove svg icon from tony.html
* | e3cf903(2021-08-19) replace note with tony.html for books_robotswithros.md
* | 75f17a1(2021-08-19) replace note with tony.html for books_robotswithros.md
* | 1de3563(2021-08-19) replace note with important.html for books_robotswithros.md
* | 2c63e9c(2021-08-18) add <a href=# class=close data-dismiss=alert aria-label=close>&times;</a> to important.html
* | 282d64f(2021-08-18) add <a href=# class=close data-dismiss=alert aria-label=close>&times;</a> to warning and tip.html
* | b1e2fa2(2021-08-18) add <a href=# class=close data-dismiss=alert aria-label=close>&times;</a> to note.html
* | f5dc658(2021-08-18) remove fa fa-6x to be fa fa
* | 3591c94(2021-08-18) fix link error for tony.html
* | 1f14fc7(2021-08-18) fix link error for tony.html
* | f74e81c(2021-08-18) fix link error for tony.html
* | 573c98c(2021-08-18) add vim to mydoc_sidebar.yml and books_vim.md
* | d4d41c8(2021-08-18) add rebase cli to webhook.md
* | 7d5b2e6(2021-08-18) more contents for robotswithros.md
* |   6713274(2021-08-18) Merge branch 'edit' of github.com:aiegoo/matlab into edit
|\ \  
| * | d9bda88(2021-08-18) Update books_robotswithros.md
* | | 2397280(2021-08-18) Update books_robotswithros.md
|/ /  
* | 8de8a97(2021-08-18) workong on books_robotswithros
* | b9dac54(2021-08-18) add robotswithros sidebar menu and files under matlab series
* | 9a0b35c(2021-08-18) fix tag conflicts in matlab.html
* | 07e02e1(2021-08-18) reorder lis for matlab.html
* | 533a34e(2021-08-18) cherrypic last commit from usermap branch
* | 536fb54(2021-08-18) .
| | * 3a6582a (backup/heorhi)(2021-08-21) update default and remove onload and banner.html include
| | * 9ce6e6d(2021-08-21) merge --squash with edit
| | * 3d71f00(2021-08-20) onload init to default.html
| | * 31fb3d1(2021-08-20) adapt default.html and banner.html for heorhi from toc
| | * 61aed19(2021-08-09) fix link to point to custom/banner.html
| | * 99501b1(2021-08-09) remove projects.wiki folder
| | * 886cfaa(2021-08-09) remove gitteam folder
| | * bc11a56(2021-08-09) some more style to banner.html
| | * 5342598(2021-08-09) add heorhi script for bannerbox
| | *   9c32e7a(2021-08-09) resolve conflicts and add files from gh-pages
| | |\  
| | * | a8172bf(2021-08-09) add .gitmodule
| | | | * 183a0ec (backup/imagebox, imagebox)(2021-08-20) add files from heorshi
| | | | | * 9cfc0b2 (backup/usermap, usermap)(2021-08-18) change matlabmap to matlab and remove the two page links
| | | | | * dbfeec7(2021-08-18) edit matlabMap to be matlabmap.html
| | | | | * fc6e672(2021-08-18) replace custom/{{page.map_name}}.html with custom/{{page.matlabMap}}.html
| | | | | * c00af76(2021-08-18) replace custom/{{page.map_name}}.html with custom/matlabMap.html
| | | | | * f5694cd(2021-08-18) edit div#matlabMap to be userMap
| | | | | * 0e46c4e(2021-08-18) edit three matlab md files with box 1 2 3 for matlabMap.html
| | | | | * 94f4631(2021-08-18) edit matlab_dummies matlab_essential and rfly_advanced to create simple usermap
| |_|_|_|/  
|/| | | |   
* | | | | 3767e7c(2021-08-18) edit _config.yml for github_edit path to aiegoo/matlab/blob/edit/
|/ / / /  
* | | | c547543(2021-08-18) Update mydoc_git_team.md
* | | | c21c507(2021-08-17) add tonyillustWyoga.svg to p2_landing_page.html
* | | | 79b7fa2(2021-08-17) add overflow-y:auto to div#toc ul in customstyle.css
* | | | 89b448f(2021-08-17) add overflow-y:auto to div#toc in customstyle.css
* | | |   a0201cc(2021-08-17) Merge branch 'colxs6' into toc
|\ \ \ \  
* | | | | 4bb7349(2021-08-17) remove sidetoc id from toch.html
* | | | | 81ce35f(2021-08-17) edit showspeed to 0 in toc.html
| | | | | * 01a0570 (backup/gh-pages)(2021-08-18) Update mydoc_git_team.md
| | | | | * b320796(2021-08-17) Merge branch 'gh-pages' of github.com:aiegoo/matlab into gh-pages
| | |_|_|/| 
| |/| | | | 
| | | | | * c9aa944(2021-08-16) Update mydoc_actions.md
| * | | | | cd93215 (backup/colxs6)(2021-08-17) add opacity control at media@1110px for div#toc
| * | | | | 108460b(2021-08-17) reset to remove sidetoc id and to col-md-6
| * | | | | 2f7736e(2021-08-17) remove sidtoc id from toc.html in colxs6 branch
| * | | | | a06cf74(2021-08-17) to record merge conflicts
|/| | | | | 
| * | | | | 52da09c (colxs6)(2021-08-16) checking toc.html included in page.html
| * | | | | d36e745(2021-08-16) replacecd xs with md in default.html
| * | | | | e9aa0a1(2021-08-16) add sidetoc id to toc.html
| * | | | | 84f2906(2021-08-16) add #sidetoc to toc.html
| * | | | | 69aa168(2021-08-16) remove z-index from toc.html
| * | | | | 0e38492(2021-08-16) add fontsize 50% to div#toc
| * | | | | 4e28a15(2021-08-16) add div#toc ulpadding-right 50px at 1110px
| * | | | | 6afcd7f(2021-08-16) add div#toc ulpadding-right 50px at 1110px
| * | | | | cc8fc39(2021-08-16) add div#toc ulpadding-right 50px at 1110px
| * | | | | 65846ad(2021-08-16) add div#toc ulpadding-right 50px at 1110px
| * | | | | 172b91e(2021-08-16) add div#toc ulpadding-right 50px at 1110px
| * | | | | 8ba8e40(2021-08-16) add z-index auto to div#toc
| * | | | | 1110872(2021-08-16) add div#toc ul width: 80% at 1110px
| * | | | | d74c20b(2021-08-16) add div#toc ul width: 80% at 1110px
| * | | | | 09f3293(2021-08-16) add div#toc ul width: 80% at 1110px
| * | | | | 93275f4(2021-08-16) add div#toc ul width: 80% at 1110px
| * | | | | 90bebc8(2021-08-16) add div#toc ul width: 80% at 1110px
| * | | | | c36e6bc(2021-08-16) add div#toc width: 80% at 1110px
| * | | | | 59f13bc(2021-08-16) add div#toc width: 80% at 1000px
| * | | | | 49a4124(2021-08-16) change xs-6 to xs-7
| * | | | | 18afaae(2021-08-16) change xs-9 to xs-6
| * | | | | 845ff5e(2021-08-16) add col-xs class to default and toc.html
* | | | | | e5a3c9c(2021-08-16) add opacity 40% to toc at media@1110px
|/ / / / /  
* | | | | 3ef33b4(2021-08-16) fa-6x to tony.html
* | | | | 0fe136d(2021-08-15) change top 30 to 20 in toc.html
* | | | | 237bf70(2021-08-15)  fontsize: 70% from 90% for customstyle.css
* | | | | 02610ec(2021-08-15) media@990px div#toc display:none to customstyle.css
* | | | | 0653ad1(2021-08-15)  fontsize: 70% from 90% for customstyle.css
* | | | | f283e2e(2021-08-15) media@990px div#toc display:none to customstyle.css
* | | | | 630b4a0(2021-08-15) add open to detail toc.html
* | | | | fb920f2(2021-08-15) add position relative fixed to toc.html
* | | | | e147027(2021-08-15) add position relative fixed to toc.html
* | | | | ad857d7(2021-08-15) add position relative fixed to toc.html
* | | | | 3a88e09(2021-08-15) add position relative fixed to toc.html
* | | | | 36fdd77(2021-08-15) edit div#toc ul background color rgba(188, 210, 172, 0.52) and color color: rgba(158, 74, 3, 1) in css/customstyle.css
* | | | | b9f556e(2021-08-15) edit div#toc ul background color rgba(188, 210, 172, 0.52) and color color: rgba(158, 74, 3, 1) in css/customstyle.css
* | | | | 91005b9(2021-08-15) edit div#toc ul background color rgba(188, 210, 172, 0.52) and color color: rgba(158, 74, 3, 1) in css/customstyle.css
* | | | | ad96eff(2021-08-15) edit div#toc ul background color rgba(188, 210, 172, 0.52) and color color: rgba(158, 74, 3, 1) in css/customstyle.css
* | | | | 196d284(2021-08-15) edit div#toc ul background color rgba(188, 210, 172, 0.52) and color color: rgba(246, 113, 3, 0.856) in css/customstyle.css
* | | | | b894972(2021-08-15) edit div#toc ul background color rgba(188, 210, 172, 0.52) and color in css/customstyle.css
* | | | | 84a2465(2021-08-15) edit div#toc ul background color and color in css/customstyle.css
* | | | | 098d5c0(2021-08-15) change top 100 to 70px in toc.html
* | | | | a4c2dba(2021-08-15) edit div#toc ul background color and color in css/customstyle.css
* | | | | 05dfc55(2021-08-15) edit div#toc ul background color and color in css/customstyle.css
* | | | | 8c0de36(2021-08-15) margin-left: 600px; width: 300px; display: fixed; position: absolute; top: 100px; to toc.html
* | | | | 640b102(2021-08-15) change col-md-9 to 6
* | | | | e2527a7(2021-08-15) remove style from the toc.html to make room for col-12
* | | | | 82c5253(2021-08-15) move toc.html befordite.data in page.html
* | | | | 57a1ed5(2021-08-15) add top:200px to toc.html
* | | | | 83cdb52(2021-08-15) move toc.html before include commento.html in page.html
* | | | | 4345cfe(2021-08-15) add right: 0 width: 300px positon pixed col-12
* | | | | cf5ea82(2021-08-15) add position abolsute and z-index to toc.html
* | | | | e083980(2021-08-15) add margin-left 1000px to toc.html
* | | | | f20a4ac(2021-08-14) change showspeed of minitoc to 10
* | | | | 2a0284c(2021-08-14) change showspeed of minitoc to 10
* | | | | d1aa843(2021-08-13) add some more extra cli to rebase vs merge
* | | | | 270c814(2021-08-13) add some more extra cli to rebase vs merge
* | | | | e7ec527(2021-08-13) add some more extra cli to rebase vs merge
* | | | | 5ed694a(2021-08-13) add cli for rebase and merge
* | | | | 8f92678(2021-08-13) add cli for rebase and merge
* | | | | 0530f76(2021-08-13) add div to images with width 200px
* | | | | 0ade44a(2021-08-13) add div to images with width 200px
* | | | | 7f2a2fc(2021-08-13) add div to images with width 200px
* | | | | a3ade72(2021-08-13) add heading to merge vs rebase
* | | | | 0b85585(2021-08-13) merge gh-pages with edited git_team.md
* | | | |   0ba4d5e (gh-pages)(2021-08-13) Merge branch 'gh-pages' of github.com:aiegoo/matlab into gh-pages
|\ \ \ \ \  
| | |_|_|/  
| |/| | |   
| * | | | 2778249(2021-08-13) Update mydoc_git_team.md
| * | | | d628f91(2021-08-13) Update mydoc_git_team.md
* | | | | fc3a6c3 (temp)(2021-08-12) add codeblock for the flightsim
* | | | | ccd84d8(2021-08-12) add matlab_flightsim.gif to matlab_slam
* | | | | ed3f06e(2021-08-12) fligthsim.gif to matlab_slam.md
* | | | | 2dd9f7a(2021-08-12) add matlab_flightsim.mp4
* | | | | 08d818f(2021-08-12) reset to default setting of alert-success... due to sidebar menu turning yellow
* | | | | 2bb7a85(2021-08-12) replace alert-custom to tony-custom
* | | | | e2c2773(2021-08-12) replace alert-custom to tony-custom
* | | | | 62b0399(2021-08-12) add alert-custom css to theme-green.css and edit tags in tony.html
* | | | | f005372(2021-08-12) add alert-custom css to theme-green.css and edit tags in tony.html
* | | | | 4de4a06(2021-08-12) add alert-custom css to theme-green.css and edit tags in tony.html
* | | | | 3e87fb7(2021-08-12) add svg checkmark to tony.html
* | | | | adcce46(2021-08-12) add alert-heading property and hr ruler to tony.html
* | | | | 912b071(2021-08-12) edit toc.js for show effects to fadeIn
* | | | | 35a75bd(2021-08-11) motionplanning example gif to slam.md
* | | | | 2f071bd(2021-08-11) remove text-muted from tony.html
* | | | | 60ddeb5(2021-08-11) remove text-muted from tony.html
* | | | | 8862b10(2021-08-11) alert-dark to tony.html
* | | | | 9cb0150(2021-08-11) bg-secondary to tony.html
* | | | |   fca25e6(2021-08-11) fix conflicts, why with amd
|\ \ \ \ \  
| * | | | | 50f954a(2021-08-11) change fa-exclamation-circle with fa-angle-double-right
* | | | | | 7fbbea7(2021-08-11) change fa-exclamation-circle with fa-angle-double-right
|/ / / / /  
* | | | | be6a7db(2021-08-11) add text-muted to tony.html
* | | | | 190e9ab(2021-08-11) add include tony.html to matlab_slam
* | | | | 4a4af28(2021-08-11) Merge branch 'gh-pages' into toc
|\| | | | 
| * | | | f374b7f(2021-08-11) Update books_matlab_slam.md
| * | | | 1521e78(2021-08-11) fix typos in matlab_slam.md
| * | | |   ccb52fa(2021-08-11) to resolove conflicts
| |\ \ \ \  
| | * | | | d29d4c6(2021-08-11) add books_matlab_slam.md
| * | | | | b8ec013(2021-08-11) add books_matlab_slam.md
| |/ / / /  
| * | | | 81f1e06(2021-08-11) Update rfly_starthere.md
| * | | | adac769(2021-08-11) Update rfly_starthere.md
* | | | | 260acb4(2021-08-11) add includes/tony.html with close button
* | | | | 74dc07c(2021-08-11) add matlab rflysim slam navigator dynamic-occupancy motion-planning rrt to tags.yml
|/ / / /  
* | | | 779e530(2021-08-10) add contents to rfly_advanced.md
* | | | d30aed3(2021-08-10) add contents to rfly_advanced.md
* | | | 0b6107e(2021-08-10) add contents to rfly_advanced.md
* | | | 7836545(2021-08-10) add rfly_starthere.md and rfly_advanced.md for Apm drones, edit the sidebar.yml
* | | |   ef5268d(2021-08-10) Merge branch 'gh-pages' of github.com:aiegoo/matlab into gh-pages
|\ \ \ \  
| * | | | c48782f(2021-08-10) Update mydoc_commenting_on_files.md
* | | | | 69aff5f(2021-08-10) Merge branch 'gh-pages' of github.com:aiegoo/matlab into gh-pages
|\| | | | 
| * | | | 892c0b5(2021-08-10) working on matlab-dummies
| * | | | 5321ccc(2021-08-10) working on matlab-dummies
| * | | | 615731e(2021-08-10) working on matlab-essential
| * | | | 40a33dc(2021-08-10) working on matlab-essential
| * | | | 7540544(2021-08-10) pdf/matlab-dummies.pdf
| * | | | 549ae7e(2021-08-10) pdf/matlab-essential.pdf
| * | | | e08c0cf(2021-08-10) Update mydoc_sidebar.yml
| * | | | 4b96f79(2021-08-10) Create series_matlab_next.html
| * | | | 4c9395e(2021-08-10) Create books_matlab_dummies.md
| * | | | a535610(2021-08-10) Create books_matlab_essential.md
| * | | | 19bf320(2021-08-10) Update mydoc_commenting_on_files.md
| * | | | 158ca01(2021-08-08) Update tag_troubleshooting.md
| |/ / /  
* / / / 311e558(2021-08-10) update submodule
|/ / /  
* | | 7cbb456(2021-08-07) add more reset method for git
* | | 32722e9(2021-08-07) edit gitteam.md
* | | b81ddf7(2021-08-07) checkout tony branch's books_gitteam.md
* | | 0b1119e(2021-08-07) Update mydoc_deeplearning.md
* | | 2e5ee58(2021-08-07) Update mydoc_deeplearning.md
* | | cb7be45(2021-08-07) Update mydoc_pipeline.md
* | | ae51667(2021-08-06) Delete CNAME
* | | 130dfe0(2021-08-06) restore gem and config files
* | | c9989ac(2021-08-06) comment out github page  from Gemfile to fix install issue
* | | f7c18f8(2021-08-06) remove jemoji from Gemfile to fix install issue
| | | * b8f59c6 (backup/master-slider, master-slider)(2021-08-10) edit default.html for link
| | | * b524402(2021-08-10) edit _layout/default.html
| | | * 25df9d7(2021-08-10) add banner.html
| | |/  
| |/|   
| * | f99d378(2021-08-06) add slick css and script to header.html
| * | bfda66a(2021-08-06) edit pages/product1/p1_sample1.md to implement slider
| * | 0f53aa9(2021-08-06) add slider files with p1_sample_slider.html
| |/  
| * c663700 (backup/master, master)(2021-08-03) add readme to masterbranch for install instructions
| *   604d70f (backup/tony, tony)(2021-08-07) Merge branch 'tony' of github.com:aiegoo/projects into tony
| |\  
| | * 720e9d2(2021-08-07) add more files
| | * 2141a26(2021-08-07) add books_gitteam.md along with many files generated from nowhere
| | * bd5b9f0(2021-08-07) add books_gitteam.md along with many files generated from nowhere
| | * 4684237(2021-08-07) add books_gitteam.md along with many files generated from nowhere
| | * 51be14d(2021-08-07) change gemfile for github pages
| | * 0809e98(2021-08-06) add files resulting from ruby gem bundle to serve jekyll
| | * eeefd7a(2021-08-06) remove and comment out jemoji from Gemfile and config.yml
| | *   586953b(2021-08-06) Merge branch 'tony' of github.com:aiegoo/projects into tony
| | |\  
| | * | bfbf039(2021-08-06) add git cli | grep --color=always . | tee color.txt
| | * | 68d6a85(2021-08-06) add gitteam of one to gitteam.dm
| |/ /  
|/| |   
| * | 76eac66(2021-08-07) submodule changed
| |/  
| * fc865ba(2021-08-06) add p1_sample_slider.html
| *   a2f596f(2021-08-06) Merge branch 'tony' of github.com:aiegoo/projects into tony
| |\  
| |/  
|/|   
* | 18d877d(2021-08-05) add stackoverflow solution for post/pre-recive webhook for automation
| * e96a8c3(2021-08-06) added to avoid stashing
|/  
* 473c0f5(2021-08-04) add customized readme.md to tony branch
* 1391fae (tag: reveal)(2021-08-04) add link of es6 module article to revealjs.md
* 80bc2c2(2021-08-04) replace include script to next for revealjs.md
* 2043648(2021-08-04) add reveal_gcs.md
* a56a937(2021-08-04) remove onload script from default.html
* 6f045cf(2021-08-04) add series reveal to revealjs and reveal_sample.md
* ac15462(2021-08-04) add series_reveal and _reveal_next.html
*   dccbf33(2021-08-04) Merge branch 'gh-pages' of github.com:aiegoo/projects into gh-pages
|\  
| * 9e4cd21(2021-08-04) Config options for revealjs
| * 1b3c4de(2021-08-04) Update revealjs.md
| * 122d21d(2021-08-04) Update books_revealjs.md
| * 5d61bae(2021-08-04) add books as tags, books_revealjs.md
| * 6f4ced4(2021-08-04) add my_include script for capture
| * ca8dae1(2021-08-04) trying to fix relativejs
| * 2b8b516(2021-08-04) trying to fix relativejs
| * 876c075(2021-08-04) trying to fix relativejs
| * ab4650d(2021-08-04) add _contents folder in the root
| * 25574a6(2021-08-04) add revealjs to others.md and moved the folder to _includes from pages
| * 7bbedcc(2021-08-04) add revealjs to others.md and moved the folder to _includes from pages
| * 7c8179d(2021-08-04) add revealjs to others.md and moved the folder to _includes from pages
| * a93603d(2021-08-04) add revealjs to others.md and moved the folder to _includes from pages
| * 341ddf5(2021-08-04) add revealjs to others.md
| * 10abdbe(2021-08-04) add revealjs to others.md
* | d0303a0(2021-08-03) add banner.html for popup window for the site
* | 3109be3(2021-08-03) add banner.html for popup window for the site
* | 2826986(2021-08-03) experiment with full page onload
* | b32b452(2021-08-03) experiment with full page onload
* | 06b3692(2021-08-03) experiment with full page onload
* | ce3a72d(2021-08-03) experiment with full page onload
* | c89c203(2021-08-03) experiment with full page onload
|/  
* 367d58f(2021-08-03) remove index.md of theme install instruction and put it to master branch readme
* 12828b0(2021-08-03) add more git cli including --strategy-options=
* 2ab2981(2021-08-03) add diagram workflow links
* cea3fc7(2021-08-03) add pull merge strategies and gh-pages doc link
* f38f971(2021-08-02) add .gitconfig color options
* 6e7d326(2021-08-02) add .gitconfig color options
* 1aa3ca9(2021-08-02) Update mydoc_git_team.md
* 148c8f7(2021-08-02) Update mydoc_git_team.md
* 3dd6aa4(2021-08-02) Update mydoc_git_team.md
* 62f4c59(2021-08-02) Update mydoc_git_team.md
* 8175694(2021-08-02) Update mydoc_git_team.md
*   5f850d4(2021-08-02) Merge branch 'gh-pages' of github.com:aiegoo/projects into gh-pages
|\  
| * 376995e(2021-08-02) Update mydoc_webhook.md
* | 2053d8d(2021-08-02) add note to gitteam.md
|/  
* bdefa46(2021-08-01) add up to chapter 3 branching strategies
* 8505ed8(2021-08-01) Update mydoc_support.md
* 608c58b(2021-08-01) Update mydoc_support.md
* dd2be2c(2021-08-01) add pdf and resource link to git team.md
* 8ca7a92(2021-08-01) remove actions submodule
* 4c95111(2021-08-01) fix issues with GIT series
* 5c6a9c6(2021-08-01) fix issues with GI T series
* 5851d28(2021-08-01) add rsnc script to pipeline.md
* 5ffbad3(2021-08-01) add mydoc_git_team.md as GIT series
* a1c79c8(2021-08-01) add mydoc_git_team.md
* f06d2d7(2021-08-01) add submodule actions
* a6ab146(2021-08-01) add tee script to add text to the head of a file
* 4fd2000(2021-08-01) add gitlog.html to progerssupdate
* 4970e52(2021-08-01) fix progress update include
* 39361db(2021-08-01) add progress-update to news
* 6e63423(2021-08-01) lstree exmaple
* 44f332b(2021-08-01) lstree exmaple
* 36a7365(2021-08-01) add git config template to webhook.md
* fd26087(2021-08-01) add git config template to webhook.md
* 6c05cf4(2021-08-01) add git config template to webhook.md
* 6736ef3(2021-08-01) add git config template to webhook.md
* 8f97e27(2021-08-01) add git config template to webhook.md
* e259d34(2021-08-01) add .nav li a:visited with border color goldenrod</xmp>